body.blog {
  .vertical-lines {
    z-index: 0;
  }

  .vertical-lines__line {
    transform: scaleY(1);
  }

  .blog__wrapper {
    padding-top: 60px;
    display: flex;

    @media (max-width: $max-md) {
      flex-direction: column;
    }
  }

  .section-title {
    transform: scaleY(1);
    opacity: 1;
  }

  main img {
    position: relative;
  }
}
