.blog__content {
  padding-top: 35px;
  padding-bottom: 40px;

  @media (max-width: $max-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }

  img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.blog__content-social-links {
  padding-bottom: 35px;
}

.blog__content-social-link {
  display: inline-block;
  margin: 0 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    margin: 0;
    width: 32px;
    height: 32px;
  }
}

.blog__content-text {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: normal;
  color: #404040;
  line-height: 1.8;

  i {
    display: block;
    font-style: italic;
    padding-bottom: 45px;
  }

  ul {
    padding: 10px 0;
  }

  li {
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: normal;
    color: #404040;
    line-height: 2.2;
  }

  h6 {
    padding-top: 55px;
    padding-bottom: 20px;
    font-weight: bold;
    line-height: 1.9;
    color: #404040;
  }
}