.blog__left-side {
  display: flex;
  flex-direction: column;

  @media (min-width: $max-md + 1px) {
    position: fixed;
    height: calc(100vh - 100px);
  }

  @media (max-width: $max-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    width: 100%;
    //font-weight: 600;
  }
}

.blog__card-wrapper {
  margin-top: 20px;

  @media (min-width: $max-md + 1px) {
    margin-top: 40px;
  }
}

.blog__name {
  font-size: 0.625rem;
  font-weight: normal;
  color: #404040;
  text-transform: uppercase;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    vertical-align: middle;
    display: inline;
    margin-right: 10px;
    margin-left: 1px;
  }
}

.blog__card-position {
  font-size: 0.75rem;
  font-weight: lighter;
  padding-top: 5px;
  color: #404040;
}

.blog__go-back-button {
  position: relative;
  color: #4D3999;
  text-transform: uppercase;
  font-size: .625rem;
  text-decoration: none;
  padding-left: 40px;


  @media (min-width: $max-sm + 1px) {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 26px;
    height: 6px;
    background: url(../img/svg/arrow_violet.svg);
    background-size: 100% 100%;
  }
}