
.left-info__mail {
  position: fixed;
  writing-mode: vertical-lr;
  left: 63px;
  top: 50%;
  font-weight: 500;
  font-size: 0.625rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  color: $gray;
  transform: translateY(-50%);
  transition: all .4s ease;
}

.left-info__social-links,
.left-info__mail {
  z-index: 101;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.left-info__social-links {
  position: fixed;
  left: 60px;
  bottom: 100px;
  writing-mode: vertical-lr;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.left-info__link {
  margin: 5px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.address {
  position: fixed;
  color: $gray;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: .1em;
  line-height: normal;
  z-index: 101;
  bottom: 35px;
  left: 16.666666666% * 4;
  transition: all .4s ease;
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;

  body.c-nav-animated & {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .8s;
  }

  @media (max-width: $max-sm) {
    display: none;
  }
}