.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 35px 65px 0;

  @media (max-width: $max-sm) {
    padding: 15px 15px 0;
    transition: all .3s ease;
    max-width: calc(100% - 30px);
  }
}

.header-scrolled {
  @media (max-width: $max-xs) {
    padding-bottom: 15px;
    background: rgba($blue, .8);

    body.c-nav-animated & {
      padding-bottom: 0;
      background: transparent;
    }
  }
}

.c-nav-button {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 15px;
  cursor: pointer;
  transition: transform .6s cubic-bezier(.54,.39,.66,.87);
  margin-right: 30px;

  body.c-nav-animated & {
    transform: rotate(360deg * 2);
  }

  span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: $gray;
    transition-delay: .3s;
    transition-duration: .3s;

    body.c-nav-animated & {
      &:nth-child(2) {
        opacity: 0;
      }

      &:first-child {
        transform: rotate(45deg);
        width: 100%;
        top: 6px;
      }

      &:last-child {
        transform: rotate(-45deg);
        width: 100%;
        bottom: 7px;
      }
    }

    &:first-child {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
      left: 0;
    }
  }
}

.logo {
  position: relative;
  text-decoration: none;

  &__on-open {
    position: absolute;
    left: 0;
    top: -1px;
    opacity: 0;
    transition: opacity ease .2s .1s;

    body.c-nav-animated & {
      opacity: 1;
    }
  }
}

.header__button-block {
  justify-content: space-between;
  align-items: center;
  width: calc(16.666666666% - 2px);
  margin-left: calc(16.666666666% * 4 - 213px);
  display: none;

  @media (min-width: $max-md + 1px) {
    display: inline-flex;
  }
}

.header__button-block-login,
.header__button-block-try {
  position: relative;
  color: $gray-2;
  font-size: 1rem;
  text-decoration: none;
  transition: all .4s ease;
}

.header__button-block-login {
  font-weight: bold;
  padding-right: 35px;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 9px;
    width: 26px;
    background: url(../img/svg/arrow_login.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.header__button-block-try {
  opacity: 0;

  body:not(.index) &,
  body:not(.fp-viewing-hero) & {
    opacity: 1;
  }

  body.c-nav-animated & {
    transition-delay: 1.2s;
    border-color: transparent;
    color: $gray-2;
    background: $blue;
    opacity: 1 !important;
  }

  span {
    font-weight: bold;
  }
}