.c-nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 55px;
  visibility: hidden;
  transition-delay: 1.1s;
  z-index: 11;

  body.c-nav-animated &{
    visibility: visible;
    transition-delay: 0s;
  }
}

.c-nav__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-position: center;
  background-size: cover;
  font-size: 0;
}

.c-nav__background-column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  height: 100%;
  width: 16.6666666667%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $purple;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1),-webkit-transform .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    border-left: 1px solid rgba(255,255,255,.18);

    body.c-nav-animated & {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
      transform-origin: center left;
      transition-delay: 0s;
    }
  }

  &:first-child:after {
    transition-delay: 0;
  }

  &:nth-child(2):after {
    transition-delay: .1s !important;
  }

  &:nth-child(3):after {
    transition-delay: .2s !important;
  }

  &:nth-child(4):after {
    transition-delay: .3s !important;
  }

  &:nth-child(5):after {
    transition-delay: .4s !important;
  }

  &:nth-child(6):after {
    transition-delay: .5s !important;
  }
}

.c-nav__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 2;
}

.c-nav__wrapper {
  position: relative;
  display: flex;
}

.c-nav__menu {
  margin-left: calc(16.6666666667% * 2 - 75px);

  @media (min-width: $max-sm + 1px) {
    width: 38.53333%;
  }

  @media (max-width: $max-md) {
    margin-left: calc(13.6666666667% * 2 - 75px);
  }
}

.c-nav__phones {
  align-self: flex-end;
  transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
  transition: opacity .6s cubic-bezier(.4,0,0,1);
  transition: opacity .6s cubic-bezier(.4,0,0,1),-webkit-transform .6s cubic-bezier(.4,0,0,1);
  transition-delay: 0s;
  opacity: 0;

  body.c-nav-animated & {
    opacity: 1;
    transition-delay: 1s;
  }

  @media (max-width: $max-md) {
    margin-left: 9%;
  }

  @media (max-width: $max-sm) {
    display: none;
  }
}

.c-nav__phones-title {
  font-weight: bold;
}

.c-nav__phones-link {
  display: block;
  margin: 10px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-nav__menu-list-item {
  position: relative;
  overflow: hidden;
  margin: 12px 0;

  @media (min-width: 375px) {
    margin: 15px 0;
  }

  @media (min-width: $max-md + 1px) {
    margin: 25px 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-nav__menu-link {
  font-size: 3rem;
  text-decoration: none;
  color: $gray;
  font-weight: 700;
  letter-spacing: .03em;

  @media (max-width: 370px) {
    font-size: 2rem;
  }

  &:hover {
    color: darken($gray, 15);
  }

  &_active {
    font-weight: 800;
    color: $blue;
  }
}

.c-nav__menu-list-num {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  margin-right: 44px;
  font-weight: 400;
  color: $blue;
  width: 29px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform .25s cubic-bezier(.4,0,0,1);
  transition: transform .25s cubic-bezier(.4,0,0,1);
  transition: transform .25s cubic-bezier(.4,0,0,1),-webkit-transform .25s cubic-bezier(.4,0,0,1);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  transition-delay: 0s;

  @media (max-width: $max-md) {
    margin-right: 20px;
  }

  .c-nav__menu-link_active & {
    font-weight: 800;
  }

  body.c-nav-animated & {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
  }

  body.c-nav-animated .c-nav__menu-list-item:first-child & {
     transition-delay: .4s;
   }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(2) & {
    transition-delay: .5s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(3) & {
    transition-delay: .6s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(4) & {
    transition-delay: .7s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(5) & {
    transition-delay: .8s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(6) & {
    transition-delay: .9s;
  }

  .c-nav__menu-link_active & {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 40px;
    background: $blue;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1);
    transition: transform .6s cubic-bezier(.4,0,0,1),-webkit-transform .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;

    body.c-nav-animated & {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
      transform-origin: center left;
      transition-delay: .8s;
    }
  }
}

.c-nav__menu-list-text {
  display: inline-block;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform .25s cubic-bezier(.4,0,0,1);
  transition: transform .25s cubic-bezier(.4,0,0,1);
  transition: transform .25s cubic-bezier(.4,0,0,1),-webkit-transform .25s cubic-bezier(.4,0,0,1);
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  transition-delay: 0s;
  color: inherit;

  .c-nav__menu-link_active & {
    color: $blue;
  }

  body.c-nav-animated & {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }

  body.c-nav-animated .c-nav__menu-list-item:first-child & {
    transition-delay: .75s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(2) & {
    transition-delay: .85s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(3) & {
    transition-delay: .95s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(4) & {
    transition-delay: 1.05s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(5) & {
    transition-delay: 1.15s;
  }

  body.c-nav-animated .c-nav__menu-list-item:nth-child(6) & {
    transition-delay: 1.25s;
  }
}

.c-nav__langs {
  position: absolute;
  left: 17.3333333333%;
  bottom: 35px;

  @media (min-width: $max-md + 1px) {
    left: 16.6666666667% * 2;
    bottom: 60px;
  }
}

.c-nav__langs-list-item {
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1),-webkit-transform .45s cubic-bezier(.4,0,0,1);
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;

  body.c-nav-animated & {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    transition-delay: .6s;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.c-nav__langs-link {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: $blue;

  &:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: $blue;
    opacity: 0;
  }

  &_active {
    font-weight: bold;

    &:before {
      opacity: 1;
    }
  }
}

.c-nav__form {
  margin-top: 25px;

  @media (min-width: $max-md + 1px) {
    margin-top: 50px;
  }
}

.c-nav__input {
  display: inline-block;
  float: left;
  background: transparent;
  line-height: 40px;
  height: 40px;
  border: 1px solid #B5313F;
  border-right: none;
  outline: none !important;
  font-size: 1rem;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1),-webkit-transform .45s cubic-bezier(.4,0,0,1);
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  transition-delay: 0s;
  text-indent: 20px;

  @media (max-width: $max-sm) {
    margin-left: 16.66666%;
    line-height: 30px;
    height: 30px;
  }

  @media (max-width: $max-xs) {
    outline-offset: 0;
    padding-right: 0;
    -webkit-user-select: auto;
  }

  body.c-nav-animated & {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    transition-delay: 1.1s;
  }

  &::placeholder {
    color: #B5313F;
    font-size: 0.625rem;
  }
}

.c-nav__submit-b {
  background: $blue;
  color: $white;
  border: none;
  height: 44px;
  line-height: 44px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 1rem;
  box-shadow: 5px 15px 20px rgba(181, 49, 63, 0.5);
  outline: none;
  cursor: pointer;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1);
  transition: transform .45s cubic-bezier(.4,0,0,1),-webkit-transform .45s cubic-bezier(.4,0,0,1);
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  transition-delay: 0s;

  @media (max-width: $max-sm) {
    height: 34px;
    line-height: 34px;
  }

  body.c-nav-animated & {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    transition-delay: 1.4s;
  }
}