.pop-up {
  position: fixed;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease .5s;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  body.pop-up-open &.open {
    transition: all .5s ease;
    opacity: 1;
    background: rgba(0, 0, 0, .3);
    pointer-events: all;
  }

  h6 {
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;


    @media (max-width: $max-xs) {
      margin-left: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 2px;
      width: 12px;
      height: 12px;
      background: url(../img/svg/q_history_p.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.pop-up__body {
  position: absolute;
  background: #332666;
  max-width: 600px;
  padding: 25px;
  width: calc(100% - 120px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease;


  .pop-up_slider & {
    max-width: 900px;

    @media (max-width: $max-xs) {
      padding-bottom: 50px;
    }

  }

  .pop-up_with-video & {
    padding: 5px !important;
  }

  .pop-up_try & {
    max-width: 260px;
  }

  @media (min-width: $max-lg + 1px) {
    padding: 65px 70px;
  }

  @media (min-width: $max-sm + 1px) {
    max-width: 610px;
  }

  @media (min-width: $max-xs + 1px) {
    max-width: 500px;
    padding: 45px;
  }

  .pop-up.open & {
    opacity: 1;
    transition: all .5s ease .5s;
  }
}

.pop-up__close {
  position: absolute;
  right: 20px;
  top: 28px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  cursor: pointer;

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(#fff, .5);
    transform: rotate(45deg);
    border-radius: 4px;

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.pop-up__title {
  padding-bottom: 30px;
  text-align: left;
  span {
    color: $purple;
  }
}

.pop-up__form {
  display: flex;
  flex-direction: column;
}

.pop-up__form-row {
  display: flex;
  flex-direction: column;

  @media (min-width: $max-xs + 1px) {
    flex-direction: row;
  }

  >div {
    @media (min-width: $max-xs + 1px) {
      width: 50%;
    }
  }
}

.pop-up__file-input {
  padding: 13px 0;

  @media (min-width: $max-xs + 1px) {
    padding: 0;
  }
}

.pop-up__text {
  font-size: .825rem;

  @media (max-width: $max-xs) {
    padding-left: 20px;
  }
}

.pop-up__input {
  width: 100%;
  height: 34px;
  line-height: 34px;
  margin: 6px 0;
  outline: none;
  padding-left: 5px;
  background: transparent;
  color: $gray;
  border: 1px solid #D3CFE5;
  font-size: 12px;

  &::placeholder {
    text-transform: uppercase;
    color: $gray;
    font-size: 10px;
  }

  @media (min-width: $max-xs + 1px) {
    max-width: 250px;
  }

    &[type="file"] {
      position: relative;
      -webkit-appearance: none;
      text-indent: 9999999px;
      color: transparent;
      pointer-events: none;
      border: none;

      &:before {
        content: '';
        pointer-events: all;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 40px;
        background: url(../img/svg/input_btn.svg);
        background-size: 100% 100%;
        cursor: pointer;
      }
    }

  &:first-child {
    margin-top: 0;
  }

  &::placeholder {
  }
}

.pop-up__textarea {
  background: transparent;
  border: 1px solid #D3CFE5;
  height: 121px;
  max-width: 490px;
  width: 100%;
  margin-top: 5px;
  color: $gray;
  padding: 6px;
  font-size: 12px;

  &::placeholder {
    text-transform: uppercase;
    color: $gray;
    font-size: 10px;
  }
}

.pop-up__button {
  transform: scaleY(1) !important;
  opacity: 1 !important;
}

.pop-up__textarea {
  resize: none;
}

.pop-up__slider-wrapper {
  position: relative;

  img.slick-slide {
    object-fit: cover;
    object-position: center center;

    @media (max-width: $max-sm) {
      object-fit: contain;
    }
  }

  .slick {

    &-slide {
      height: 380px;

      @media (min-width: $max-md + 1px) {
        height: 534px;
      }
    }

    &-arrow {
      position: absolute;
      bottom: -30px;

      @media (max-width: $max-xs) {
        bottom: -25px;
      }
    }

    &-prev {
      left: 30px;

      @media (max-width: $max-xs) {
        left: 0;
      }
    }

    &-next {
      left: 80px;

      @media (max-width: $max-xs) {
        left: 50px;
      }
    }

    &-dots {
      position: absolute;
      bottom: -17px;
      right: 20px;

      li {
        position: absolute;
        opacity: 0;

        button {
          background: transparent;
          border: none;
          color: $purple;
          font-size: .9rem;
          font-weight: 600;
        }

        &.slick-active {
          opacity: 1;
        }
      }
    }
  }
}

.pop-up__slider-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px dashed $gray;
  height: calc(100% - 2px);
  padding: 0 20px;

  @media (min-width: $max-sm + 1px) {
    background: url(../img/svg/pop-up-bg.svg);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 0 20px;
  }

  .pop-up__form {
    @media (min-width: $max-sm + 1px) {
      width: 50%;
    }

    h5 {
      padding-bottom: 40px;

      span {
        color: $purple;
      }
    }
  }
}