.vertical-lines {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-position: center;
  background-size: cover;
  font-size: 0;
  pointer-events: none;
  z-index: 100;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.vertical-lines__line {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  height: 100%;
  width: 16.6666666667%;

  &:first-child {
    opacity: 0 !important;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid rgba(255,255,255,.18);
  }
}
