<div class="vacancy__left-side col-6-1 offset-6-1 col-md-6-4">
    <h4 class="section-title section-title_thin vacancy__title">Business Analyst</h4>
    <div class="vacations__vacation-about">
        <div class="vacations__vacation-location">Kyiv, UA</div>
        <div class="vacations__vacation-time">Full-Time</div>
    </div>
</div>