<div class="vacancy__content col-6-2 offset-6-2 col-md-6-4 offset-md-6-1">
    <div class="vacncy__content-text">
        В основі нашої компанії - команда і технологічний сервіс. <br>
        Наш продукт вже оцінили "McDonalds", "OLX", " AB InBev", "ОККО", "Сушия", "Київстар", " Watsons " та багато успішних компаній, які активно працюють над своєю репутацією.
        <br>Зараз ми шукаємо менеджера з корпоративних продажів, яка\-ий зможе працювати з найвідомішими українськими та міжнародними компаніями та активно розвивати нашу клієнтську базу.
        <h6>Професійні знання та навички:</h6>
        <ul>
            <li>Успішний досвід активних продажів від 1 року</li>
            <li>Грамотна мова письмова і усна, українська і російська</li>
            <li>обов'язково, англійська вітається, оскільки до кінця 2018</li>
            <li>плануються продажі в США</li>
            <li>Бажання розвиватися та розвивати</li>
        </ul>
        <a href="#pop-up-vacancy" class="button pop-up-button vacancy__button">Відгукнутися</a>
    </div>
</div>