.advantages {
  transition: background-color .8s ease;
  transition-delay: 0s;
  @extend %section-responsive;

  @media (min-width: $max-sm + 1px) {
    display: flex;
    align-items: flex-start;
  }

  &.active {
    background-color: #261C4C;
    transition-delay: .4s;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @media (min-width: $max-md + 1px) {
        top: calc(50% - 125px);
      }
    }

    &-prev {
      left: 0;

      @media (min-width: $max-sm + 1px) {
        left: -15px;
      }
    }

    &-next {
      right: 15px;

      @media (min-width: $max-sm + 1px) {
        right: -15px;
      }
    }
  }
}

.advantages__title {
  padding-top: 0;
}

.advantages__wrapper {
  position: relative;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 25px 15px 0;

  @media (min-width: $max-sm + 1px) {
    padding: 0;
  }
}

.advantages__column {
  display: flex;
  height: calc(100% - 88px);
  flex-direction: column;
  justify-content: center;

  @media (min-width: $max-sm + 1px) {
    padding-top: 88px;
  }

  &:not(.offset-6-1) {
    padding-top: 0;
  }


  &_title {
    justify-content: flex-start;
  }
}

.advantages__block-title {
  color: $purple;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 1.3;
}

.advantages__block-text {
  line-height: 30px;

  @media (min-width: $max-sm + 1px) {
    max-width: 250px;
  }
}