.about-hero {
  display: flex;
  flex-direction: column;
  background: #1A1333;
  @extend %section-responsive;
}

.about-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  @media (max-width: $max-sm) {
    margin-top: 45px;
  }
}

.about-hero__subtitle {
  color: $purple;
  font-weight: bold;
}

.about-hero__text {
  margin-top: 45px;
  font-weight: bold;
  line-height: 30px;

  @media (max-width: $max-sm) {
    margin-top: 10px;
  }
}

