.history {
  position: relative;
  overflow: hidden;
  @extend %section-responsive;

  &[data-anchor="history-1"] {
    @media (max-width: $max-sm) {
      margin-top: 30px;
      padding-top: 160px;
    }
  }

  @media (min-width: $max-sm + 1px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: $max-sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__final {
    @media (max-width: $max-sm) {
      display: none;
    }
  }
}

.history__title {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $max-sm + 1px) {
    position: absolute;
    padding: 0 0 30px;
  }
}


.history__wrapper {
  margin: auto 0;

  @media (max-width: $max-sm) {
    display: flex;
  }

  &.logo-wrapper {
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    margin: 0;

    .history__title {
      width: 100%;
    }

    @media (min-width: $max-sm + 1px) {
      top: 200px;
    }

    .col-6-1 {
      vertical-align: middle;

      @media (min-width: $max-md + 1px) {
        text-align: center;
      }

      @media (max-width: $max-sm) {
        width: 50%;
      }
    }
  }
}

.history__company-block {
  width: 50%;
}

.history__year {
  font-weight: bold;

  @media (max-width: $max-sm) {
    font-size: 2.5rem;
  }
}

.history__descr {
  line-height: 1.6;
  padding-right: 10px;

  @media (min-width: $max-sm + 1px) {
    padding-top: 20px;
  }
}

.history__final-title {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 125px;
}

.history__final-text {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  //max-width: 380px;
  width: 100%;
  text-align: center;
}