@media (min-width: $max-sm + 1px) {
  .about-hero__subtitle,
  .about-hero__text {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1), all .6s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: .6s;

    .fp-section.active & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .about-hero__text {
    transition-delay: .8s;
  }

  .team__person-img-wrapper {
    transform: rotate(0deg) scale(0);
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1), all .6s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: 1s;

    .fp-section.active & {
      transform: rotate(360deg) scale(1);
    }
  }

  .team__person_sensey {
    transition-delay: .6s;
  }

  .team__person-name,
  .team__person-position,
  .team__person_social-links {
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1);
    transition: all .6s cubic-bezier(.4, 0, 0, 1), all .6s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: 1.4s;

    .fp-section.active & {
      opacity: 1;
    }
  }

  .team__person-position {
    transition-delay: 1.8s;
  }

  .team__person_social-links {
    transition-delay: 2.2s;
  }

  .advantages__block-title,
  .advantages__block-text,
  .worth__block-title,
  .worth__block-text,
  .vacations__vacation-block {
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: all 1s cubic-bezier(.4, 0, 0, 1);
    transition: all 1s cubic-bezier(.4, 0, 0, 1), all 1s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: .8s;

    .fp-section.active & {
      opacity: 1;
    }
  }

  .worth__block-text,
  .advantages__block-text {
    transition-delay: 1.2s;
  }
}

.qs-wrapper {
  position: fixed;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 0s;
  height: 100%;
  width: 100%;

  body.fp-viewing-history-1 &,
  body.fp-viewing-history-2 &,
  body.fp-viewing-history-3 &,
  body.fp-viewing-history-4 &,
  body.fp-viewing-history-5 &,
  body.fp-viewing-history-6 &,
  body.fp-viewing-history-7 &,
  body.fp-viewing-history-8 &,
  body.fp-viewing-history-9 & {
    visibility: visible;
    opacity: 1;
    transition-delay: .6s;
  }

  .about-page__title {
    padding-top: 88px;
  }

  .history__title,
  .about-page__title {
    body.fp-viewing-history-1 &,
    body.fp-viewing-history-2 &,
    body.fp-viewing-history-3 &,
    body.fp-viewing-history-4 &,
    body.fp-viewing-history-5 &,
    body.fp-viewing-history-6 &,
    body.fp-viewing-history-7 &,
    body.fp-viewing-history-8 &,
    body.fp-viewing-history-9 & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .logo-wrapper {
    transition: all .4s ease;

    body.fp-viewing-history-9 & {
      opacity: 0;
    }
  }

  .qs {
    position: absolute;
    bottom: -100px;
    transition: all .6s ease;
    transition-delay: .05s;

    body.fp-viewing-history-9 & {
      bottom: 50%;
    }

    &.first-q {
      left: -10%;
      transform: translate(0) rotate(70deg);

      body.fp-viewing-history-2 & {
        left: -5%;
        transform: translate(0) rotate(140deg);
      }

      body.fp-viewing-history-3 & {
        left: 0;
        transform: translate(0) rotate(210deg);
      }

      body.fp-viewing-history-4 & {
        left: 5%;
        transform: translate(0) rotate(280deg);
      }

      body.fp-viewing-history-5 & {
        left: 10%;
        transform: translate(0) rotate(350deg);
      }

      body.fp-viewing-history-6 & {
        left: 15%;
        transform: translate(0) rotate(420deg);
      }

      body.fp-viewing-history-7 & {
        left: 20%;
        transform: translate(0) rotate(490deg);
      }

      body.fp-viewing-history-8 & {
        left: 25%;
        transform: translate(0) rotate(560deg);

      }

      body.fp-viewing-history-9 & {
        left: 49.5%;
        transform: translate(-50%, 50%) rotate(630deg);
      }
    }

    &.second-q {
      right: -10%;
      transform: translate(0) rotate(-40deg);

      body.fp-viewing-history-2 & {
        right: -5%;
        transform: translate(0) rotate(-80deg);
      }

      body.fp-viewing-history-3 & {
        right: 0;
        transform: translate(0) rotate(-120deg);
      }

      body.fp-viewing-history-4 & {
        right: 5%;
        transform: translate(0) rotate(-160deg);
      }

      body.fp-viewing-history-5 & {
        right: 10%;
        transform: translate(0) rotate(-200deg);
      }

      body.fp-viewing-history-6 & {
        right: 15%;
        transform: translate(0) rotate(-240deg);
      }

      body.fp-viewing-history-7 & {
        right: 20%;
        transform: translate(0) rotate(-280deg);
      }

      body.fp-viewing-history-8 & {
        right: 25%;
        transform: translate(0) rotate(-320deg);
      }

      body.fp-viewing-history-9 & {
        right: 50%;
        transform: translate(50%, 50%) rotate(-360deg);
        opacity: .7;
      }
    }
  }
}