body.about .vertical-lines {
  z-index: 100;
}

.team {
  transition: background-color .8s ease;
  transition-delay: 0s;
  @extend %section-responsive;

  .button {
    @media (max-width: $max-xs) {
      position: relative;
      z-index: 10;
    }
  }

  @media (min-width: $max-sm + 1px) {
    display: flex;
    align-items: flex-start;
  }

  &.active {
    background-color: #261D4D;
    transition-delay: .4s;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $max-sm + 1px) {
        top: 0;
        transform: translateY(0);
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      left: auto;
      right: 15px;
      @media (min-width: $max-sm + 1px) {
        left: 55px;
        right: auto;
      }
    }

    &-slide {
      @media(max-width: $max-sm) {
        opacity: 0;
        transition: opacity .3s ease;

        &.slick-center {
          opacity: 1;
        }
      }
    }
  }
}

.team__title {
  @media (min-width: $max-sm + 1px) {
    padding-top: 0;
  }
}

.team__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $max-sm + 1px) {
    padding-top: 88px;
  }

  &_first {
    @media (min-width: $max-sm + 1px) {
      height: calc(100% - 135px);
    }
  }
}

.team__slider-nav-wrapper {
  position: relative;

  @media (min-width: $max-sm + 1px) {
    margin-top: 40px;
  }
}

.team__person_sensey {
  display: none;

  @media (min-width: $max-sm + 1px) {
    display: block;
  }
}

.team__person-img-wrapper {
  position: relative;
  width: 75%;
  min-width: 132px;
  min-height: 132px;
  max-width: 195px;
  max-height: 195px;
  margin: 17px 0;
  overflow: hidden;

  @media (max-width: $max-xs) {
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: url(../img/svg/team_frame.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 10;
    transform: translate(-50%, -50%);
    pointer-events: none;

    @media (max-width: $max-sm) {
      background: url(../img/svg/team_frame-2.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.team__slider-wrapper {
  @media (max-width: $max-sm) {
    width: 100%;
    padding: 0 15px;
  }
}

.team__person-img {
  display: block;
  position: absolute;
  height: 100%;
}

.team__person-name {
  color: $white;
  font-weight: bold;
  padding-top: 10px;

  @media (max-width: $max-xs) {
    text-align: center;
  }
}

.team__person-position {
  color: #D3CFE5;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 10px 0;

  @media (max-width: $max-xs) {
    text-align: center;
  }
}

.team__person_social-links {
  @media (max-width: $max-xs) {
    text-align: center;
  }

  a {
    display: inline-block;
  }
}