.vacations {
  transition: background-color .8s ease;
  transition-delay: 0s;
  @extend %section-responsive;

  .vacations__column_title {
    padding-top: 88px;
  }

  @media (min-width: $max-sm + 1px) {
    display: flex;
  }

  @media (max-width: $max-sm) {
    margin-bottom: 30px;
  }

  &.active {
    background-color: #261C4C;
    transition-delay: .4s;
  }
}

.vacations__title {
  padding-bottom: 40px;

  @media (min-width: $max-sm + 1px) {
    padding-top: 0px;
    padding-bottom: 0;
  }
}

.vacations__content-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vacations__vacation-block {
  display: flex;
  margin-bottom: 45px;

  @media (max-width: $max-sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.vacations__vacation-title {
  font-size: 1.313rem;
  line-height: 1.6;
}

.vacations__vacation-about {
  position: relative;
  font-size: 0.75rem;
  font-weight: 300;
  color: $gray;
  padding-top: 5px;

  @media (max-width: $max-sm) {
    margin: 20px 0;
  }
}

.vacations__vacation-location {
  margin-bottom: 15px;
}

.vacations__vacation-location,
.vacations__vacation-time {
  position: relative;
  line-height: 17px;
  padding-left: 25px;

  &:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.vacations__vacation-location:before {
  width: 16px;
  height: 19px;
  background: url(../img/svg/location_blue.svg) no-repeat;
  background-size: 100% 100%;
}

.vacations__vacation-time:before {
  width: 17px;
  height: 17px;
  background: url(../img/svg/time_blue.svg) no-repeat;
  background-size: 100% 100%;
}

.vacations__button {
  margin: 0 0 0 3px;
}