.worth {
  @extend %section-responsive;

  @media (min-width: $max-sm + 1px) {
    display: flex;
    align-items: flex-start;
  }


  .slick {
    &-arrow {
      position: absolute;
      transform: translateY(-50%);
      z-index: 2;
      top: 50%;

      @media (min-width: $max-md + 1px) {
        top: calc(50% - 125px);
      }
    }

    &-prev {
      left: -15px;

      @media (max-width: $max-sm) {
        left: 0;
      }
    }

    &-next {
      right: -15px;

      @media (max-width: $max-md) {
        right: 0;
      }

      @media (max-width: $max-sm) {
        right: 15px;
      }
    }
  }
}

.worth__title {
  padding-top: 0;
}

.worth__wrapper {
  position: relative;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 100px;

  @media (max-width: $max-sm) {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.worth__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $max-sm + 1px) {
    padding-top: 88px;
  }

  &:not(.offset-6-1) {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
  }
}

.worth__block {
  flex-grow: 1;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $max-md + 1px) {
    padding-bottom: 45px;
  }
}

.worth__block-title {
  font-weight: bold;
  color: $purple;
  line-height: 1.9;

  @media (max-width: $max-sm) {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.worth__block-text {
  line-height: 30px;
  font-weight: normal;

  @media(min-width: $max-sm + 1px) {
    padding-top: 15px;
    padding-right: 20px;
  }
}