section.about {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.about__info-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $max-md + 1px) {
    flex-grow: 1;
  }

  @media (min-width: $max-sm + 1px) {
    padding-bottom: 80px;
  }

  @media (max-width: $max-md) {
    max-width: 500px;
    margin: auto;
    width: 100%;
  }

  @media (max-width: $max-sm) {
    margin-top: 40px;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: calc(50% - 125px);
      transform: translateY(-50%);
      z-index: 2;

      @media (max-width: $max-sm) {
        top: calc(50% - 50px);
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 15px;
    }
  }
}

.about__animated-mark {
  position: absolute;
  top: 0;
  right: -20px;
  height: 36px;
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  background: #fff;

  @include keyframes(blink) {
    0% {
      display: block;
    }
    100% {
      display: none;
    }
  }

  @include animation(blink .4s);
}

.about__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.about__circle-block-count {
  position: relative;
  font-size: 1.125rem;
  color: $white;
  height: 210px;
  line-height: 210px;
  margin-bottom: 60px;
}

.about__circle-block-count_text {
  position: relative;
  font-weight: bold;
  color: $white;

  &:after {
    content: "total";
    font-size: 0.875rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-weight: normal;
  }
}

.about__circle {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: visible;
  width: 235px;
  height: 230px;
  pointer-events: none;

  img {
    width: 230px;
    height: 230px;
  }

  @include keyframes(move) {
    0% {
      transform: translate(-49.5%, -50%) rotateZ(0deg);
    }
    50% {
      transform: translate(-49.5%, -50%) rotateZ(180deg);
    }
    100% {
      transform: translate(-49.5%, -50%) rotateZ(360deg);
    }
  }

  .about__info-block:first-child & {
    @include animation(move 5s linear);
    animation-iteration-count: infinite;
  }

  .about__info-block:nth-child(2) & {
    @include animation(move 15s linear);
    animation-iteration-count: infinite;
  }

  .about__info-block:last-child & {
    @include animation(move 45s linear);
    animation-iteration-count: infinite;
  }
}

.about__circle-block-title {
  position: relative;
  color: $white;
  font-weight: 600;
  padding-bottom: 25px;

  &:before {
    content: '+';
    font-weight: 400;

    @media (min-width: $max-md + 1px) {
      position: absolute;
      left: -35px;
    }
  }
}

.about__circle-block-descr {
  width: 100%;
}