section.analytic-section {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.analytic-section__slider {
  position: relative;
  display: flex;
  margin-top: 45px;
  flex-grow: 1;
  align-items: center;

  @media (min-width: $max-sm + 1px) {
    margin-bottom: 150px;
  }
}

.analytic-section__slide-wrapper {
  .slick {
    &-arrow {
      position: absolute;
      top: 75px;
    }

    &-prev {
      left: -120px;

      @media (max-width: $max-sm) {
        left: 0;
      }
    }

    &-next {
      left: -70px;

      @media (max-width: $max-sm) {
        left: auto;
        right: 15px;
      }
    }

    &-slide {
      transition: all 1.4s ease;
      opacity: 0;

      @media (max-width: $max-sm) {
        text-align: center;
      }

      &.slick-active {
        opacity: 1;
      }
    }
  }
}

.analytic-section__slide-title {
  color: $purple;
  font-weight: bold;
  padding-bottom: 45px;
}

.analytic-section__slide-text {
  font-size: 1.313rem;
  line-height: 1.5;
  padding-bottom: 45px;
}

.analytic-section__slide-link {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 0;
  font-weight: 300;
  font-size: 1.313rem;
  color: $gray;
  outline: none;
  background: transparent;
  border: none;
  margin-bottom: 30px;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img/svg/details_b.svg) no-repeat center/cover;
  }
}