.clients {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.clients__logo-slider {
  position: relative;
  padding-left: 1px;
  margin-top: 35px;

  @media (min-width: $max-sm + 1px) {
    margin-top: 65px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, rgba($bg-blue, 1) 0%, rgba($bg-blue, 0) 49%, rgba($bg-blue, 1) 100%);
    z-index: 10;
  }

  .slick-slide {
    transition: all .3s ease;
  }
}

.clients__logo {
  width: 100%;
  max-width: 120px;
  height: 55px;
  object-fit: contain;
  object-position: center;
  margin: 0 15px;

  @media (min-width: $max-sm + 1px) {
    max-width: 150px;
    height: 77px;
  }
}

.clients__slides-wrapper {
  display: inline-block !important;
  align-self: center;

  @media (max-width: $max-sm) {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }
}

.clients__text-slider {
  display: flex;
  margin-top: 150px;

  @media (min-width: $max-md + 1px) {
    flex-grow: 1;
    margin-top: 0;
  }

  @media (max-width: $max-sm) {
    margin-top: 80px;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 0;

      @media (max-width: $max-sm) {
        top: -25px;
      }
    }

    &-prev {
      left: -130px;

      @media (max-width: $max-sm) {
        left: 20px;
      }
    }

    &-next {
      left: -70px;

      @media (max-width: $max-sm) {
        left: auto;
        right: 35px;
      }
    }

    &-slide {
      display: flex;
      overflow: hidden;

      @media (max-width: $max-md) {
        flex-direction: column;
      }

      @media (max-width: $max-sm) {
        text-align: center;
      }

      >div {
        -webkit-transform: translateY(100%) scaleY(0);
        -ms-transform: translateY(100%) scaleY(0);
        transform: translateY(100%) scaleY(0);
        transition: all 1.5s ease, all 1.5s ease;
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        transition-delay: .2s;
        opacity: 0;

        @media (min-width: $max-md + 1px) {
          width: 33.333333333%;
        }
      }

      &.slick-active > div {
        -webkit-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
        transform: translateY(0) scaleY(1);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        transition-delay: 0 !important;
        opacity: 1;
      }
    }
  }
}

.clients__text {
  line-height: 1.45;
  max-width: calc(100% - 20px);
}

.clients__client-name {
  padding-top: 30px;
  font-weight: bold;
  padding-bottom: 8px;
}

.clients__client-pos {
  font-size: 0.75rem;
  padding-bottom: 25px;
}

.clients__client-company {
  max-width: 75px;

  @media (max-width: $max-sm) {
    margin: auto;
  }
}