.for-whom {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.for-whom__animated-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.for-whom__row {
  display: flex;
  justify-content: center;

  &_middle {
    justify-content: space-between;
    align-items: center;
  }
}

.for-whom__circle-block {
  position: relative;
  padding: 90px;

  @media (max-width: $max-md) {
    margin: auto;
  }

  @media (max-width: $max-sm) {
    margin: 25px auto;
  }

  @media (min-width: $max-sm + 1px) {
    padding: 130px;
  }
}

.for-whom__circle {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 230px;
  height: 230px;
  transition: all .6s ease-in-out;

  &.active-advantage-1 {
    transform: translate(-50%, -50%) rotate(50deg);
  }

  &.active-advantage-2 {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &.active-advantage-3 {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  &.active-advantage-4 {
    transform: translate(-50%, -50%) rotate(-150deg);
  }

  &.active-advantage-5 {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &.active-advantage-6 {
    transform: translate(-50%, -50%) rotate(-30deg);
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 360px;
  }
}

.for-whom__advantage {
  position: relative;
  color: $gray;
  opacity: .5;
  pointer-events: none;

  @media (max-width: $max-md) {
    text-align: center;
    margin: 12px auto;
    opacity: 1 !important;
    width: 295px;
  }

  &_float-right {
    div {
      float: right;
    }
  }

  div {
    position: relative;
    padding-left: 40px;

    @media (max-width: $max-md) {
      padding-left: 0;
    }
  }

  &.active {
    color: $white;
    transition-delay: 0s !important;
    font-weight: bold;
    opacity: 1 !important;
  }

  span {
    position: absolute;
    left: 0;
    color: $purple;
    font-weight: 300;
  }
}

.circle-block__list-item {
  position: relative;
  padding-left: 0;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: $white;
}