.hero {
  position: relative;

  @media (min-width: $max-sm + 1px) {
    min-height: 100vh;
  }
}

#kinect {
  @media (max-width: $max-md) {
    display: none;
  }
}

.hero__q {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;

  @media (min-width: $max-md + 1px) {
    display: none;
  }

  @media (max-width: $max-sm) {
    max-width: 250px;
  }
}

.hero__text-block {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 100px;

  h1 {
    @media (max-width: $max-sm) {
      font-size: 2.3rem;
    }
  }

  @media (min-width: $max-md + 1px) {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -30%);
    padding-top: 0;
  }
}

.hero__text-item {
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  line-height: .72;
  font-size: 4.5rem;
  color: #FFFFFF;
  text-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &:first-child {
    padding-left: 95px;
    z-index: 4;

    @media (max-width: $max-sm) {
      padding-left: 35px;
    }
  }

  &:nth-child(2) {
    z-index: 3;
  }

  &:nth-child(3) {
    z-index: 2;
    padding-left: 80px;

    @media (max-width: $max-sm) {
      padding-left: 30px;
    }
  }

  &:last-child {
    padding-left: 100px;

    @media (max-width: $max-sm) {
      padding-left: 50px;
    }
  }
}


.hero__button-block {
  position: absolute;
  top: 50%;
  right: 16.6666666%;

  @media (max-width: $max-xl) {
    top: 53%;
  }

  @media (max-width: $max-md) {
    top: initial;
    right: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__button-block-try,
.hero__button-block-how {
  font-weight: 300;
  display: block;
  color: $gray-2;
  font-size: 1rem;
  text-decoration: none;

  span {
    font-weight: bold;
  }
}

.hero__button-block-try {
  color: $white;
  float: right;

  span {
    color: $white;
  }
}

.hero__button-block-how {
  position: relative;
  margin-bottom: 30px;
  line-height: 32px;
  padding-left: 45px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: url(../img/svg/play_b.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}