.how {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.how__info-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;

  @media (min-width: $max-md + 1px) {
    flex-grow: 1;
    margin-top: 0;
  }

  @media (min-width: $max-sm + 1px) {
    margin-top: 150px;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: calc(50% + 5px);
      transform: translateY(-50%);
      z-index: 2;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 15px;
    }
  }
}

.how__info-block {
  position: relative;
  text-align: center;
  flex-grow: 1;

  @media (max-width: $max-md) {
    padding-top: 50px;
  }
}

.how__img-wrapper {
  position: relative;
  margin-bottom: 60px;
}

.how__icon {
  position: absolute;
  transform: scale(1.3);

  &:first-child {
    @include keyframes(to-center-1) {
      from {
        top: 36%;
        left: 15%;
      }
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: .6;
      }
    }
    @include animation(to-center-1 2.5s ease-in-out);
    animation-iteration-count: infinite;
  }

  &:nth-child(2) {
    @include keyframes(to-center-2) {
      from {
        top: -35px;
        left: 50%;
      }
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: .6;
      }
    }

    @include animation(to-center-2 2.5s linear);
    animation-iteration-count: infinite;
    animation-delay: .2s;

  }

  &:nth-child(3) {
    @include keyframes(to-center-3) {
      from {
        top: 36%;
        left: 78%;
      }
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: .3;
      }
    }

    @include animation(to-center-3 2.5s linear);
    animation-iteration-count: infinite;
    animation-delay: .4s;
  }

  &:nth-child(4) {
    @include keyframes(to-center-4) {
      from {
        top: calc(100% + 15px);
        left: 65%;
      }
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: .6;
      }
    }

    @include animation(to-center-4 2.5s linear);
    animation-iteration-count: infinite;
    animation-delay: .6s;
  }

  &:nth-child(5) {
    @include keyframes(to-center-5) {
      from {
        top: calc(100% + 15px);
        left: 30%;
      }
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: .6;
      }
    }

    @include animation(to-center-5 2.5s linear);
    animation-iteration-count: infinite;
    animation-delay: .4s;
  }
}

.how__img {
  background: $bg-blue;
  height: 115px;
  object-fit: none;
}

.how__circle-block-title {
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 25px;
}

.how__list-item {
  font-size: 0.75rem;
  line-height: 20px;
}

#rotate-line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include keyframes(rotate) {
    0% {
      transform:translate(-50%, -50%) rotateZ(0deg);
    }
    50% {
      transform:translate(-50%, -50%) rotateZ(40deg);
    }
    100% {
      transform:translate(-50%, -50%) rotateZ(0deg);
    }
  }

  @include animation(rotate 1.5s linear);
  animation-iteration-count: infinite;
}

#col-1 {
  transform: scaleY(.4);
  transform-origin: bottom;

  @include keyframes(scaleY1) {
    0% {
      transform: scaleY(.4);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(.4);
    }
  }

  @include animation(scaleY1 1.5s linear);
  animation-iteration-count: infinite;
}

#col-2 {
  transform: scaleY(.7);
  transform-origin: bottom;

  @include keyframes(scaleY2) {
    0% {
      transform: scaleY(.7);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(.7);
    }
  }

  @include animation(scaleY2 1.5s linear);
  animation-delay: .2s;
  animation-iteration-count: infinite;
}

#col-3 {
  transform: scaleY(.5);
  transform-origin: bottom;

  @include keyframes(scaleY3) {
    0% {
      transform: scaleY(.5);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(.5);
    }
  }

  @include animation(scaleY3 1.5s linear);
  animation-delay: .3s;
  animation-iteration-count: infinite;
}

#col-4 {
  transform: scaleY(1);
  transform-origin: bottom;

  @include keyframes(scaleY4) {
    0% {
      transform: scaleY(.65);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(.65);
    }
  }

  @include animation(scaleY4 1.5s linear);
  animation-delay: .4s;
  animation-iteration-count: infinite;
}

#curve-1 {
  @include keyframes(curve1) {
    0% {
      transform: translateY(0) scaleY(1);
    }
    50% {
      transform: translateY(20%) scaleY(.85);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }

  @include animation(curve1 1.5s linear);
  animation-iteration-count: infinite;
}

#curve-2 {
  @include keyframes(curve1) {
    0% {
      transform: translateY(0) scaleY(1);
    }
    50% {
      transform: translateY(20%) scaleY(.7);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }

  @include animation(curve1 1.5s linear);
  animation-delay: .75s;
  animation-iteration-count: infinite;
}

#mill {
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
  background: transparent;

  @include keyframes(millRotate) {
    from {
      transform: translateX(-50%) rotate(0deg);
    }
    to {
      transform: translateX(-50%) rotate(360deg);
    }
  }

  @include animation(millRotate 5s linear);
  animation-iteration-count: infinite;
}

#circle-1,
#circle-2,
#circle-3 {
  position: absolute;
  background: transparent;
}

#circle-1 {
  @include keyframes(circle-1) {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }

  @include animation(circle-1 4.5s linear);
  animation-iteration-count: infinite;
}

#circle-2 {
  @include animation(circle-1 4.5s linear);
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}

#circle-3 {
  @include animation(circle-1 4.5s linear);
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.how__load-line-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -135px;
  width: 235px;
  overflow: hidden;
  height: 16px;
  z-index: -1;

  @media (max-width: $max-xl) {
    width: 200px;
    right: -80px;
  }

  @media (max-width: $max-md) {
    display: none;
  }
}

.how__load-line-block {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(200%);

  @include keyframes(turn-left) {
    from {
      transform: translateX(-150%);
    }
    to {
      transform: translateX(100%);
    }
  }

  @include animation(turn-left 10s linear);
  animation-iteration-count: infinite;

  &:nth-child(2) {
    animation-delay: 5.5s;
  }
}

.how__load-line-q {
  width: 16px;
  height: 16px;

  @include keyframes(rotate-qs) {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @include animation(rotate-qs 1s linear);
  animation-iteration-count: infinite;
}

.how__load-line-rect {
  display: inline-block;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: $purple;//#FFCCD2

  .how__load-line-block_color & {
    &:nth-child(3),
    &:nth-child(7) {
      background: transparent;
    }

    &:first-child {
      background: #27AE60;
    }

    &:nth-child(4) {
      background: #56CCF2;
    }

    &:nth-child(5) {
      background: #1f4994;
    }

    &:nth-child(6) {
      background: #808080;
    }

    &:nth-child(8) {
      background: #56CCF2;
    }
  }
}