.pr-test {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.pr-test__wrapper {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;

  @media (min-width: $max-sm + 1px) {
    padding-bottom: 80px;
  }

  @media (max-width: $max-sm) {
    margin-top: 100px;
  }
}

.pr-test__animated-input-text_wrapper {
  position: relative;
  height: 40px;
  margin-bottom: 60px;
}

.pr-test__animated-input-text {
  display: inline-block;
  position: relative;
  left: 2px;
  color: $white;
  font-weight: bold;
  line-height: 60px;
  min-width: 5px;
  height: 60px;
  opacity: .5;

  @media (max-width: $max-md) {
    font-size: 3.5rem;
  }

  @media (max-width: $max-sm) {
    font-size: 2.6rem;
    height: 55px;
  }
}

.typed-cursor {
  position: absolute;
  top: 3px;
  color: $white;
  background: $white;
  text-indent: 99999px;
  line-height: 40px;
  height: 64px;
  display: inline-block;
  width: 3px;
  opacity: .6;
  vertical-align: baseline;

  @media (max-width: $max-md) {
    height: 50px;
  }

  @include keyframes(typed-cursor) {
    from {
      max-width: 0;
    }
    to {
      max-width: none;
    }
  }

  @include animation(typed-cursor 1s ease-in-out);
  animation-iteration-count: infinite;

}

.pr-test__input {
  outline: none;
  position: absolute;
  height: 50px;
  line-height: 50px;
  width: 100%;
  top: 2px;
  left: 0;
  background: transparent;
  border: none;
  color: $white;
  font-weight: bold;
  font-size: 4.5rem;
  padding-bottom: 13px;

  @media (max-width: $max-md) {
    font-size: 3.5rem;
  }

  @media (max-width: $max-sm) {
    font-size: 2.6rem;
    height: 40px;
    line-height: 40px;
  }

  &:focus {
    //border-bottom: 2px solid $white;
  }
}

.pr-test__pr-button {
  position: relative;
  border: none;

  @media (min-width: $max-sm + 1px) {
    top: 30px;
  }
}

.pr-test__subtitle {
  color: $purple;
  position: absolute;
  bottom: calc(100% + 45px);

  @media (max-width: $max-sm) {
    font-size: 1.5rem;
    bottom: calc(100% + 25px);
  }
}

.pr-test__help {
  position: absolute;
  top: calc(100% + 35px);
  font-style: italic;
}

.pr-test__list {
  position: absolute;
  left: 300px;

  @media (max-width: $max-md) {
    left: 255px;
  }

  @media (max-width: $max-sm) {
    left: auto;
    position: relative;
    padding-top: 70px;
    margin-left: 25px;
  }

  &:before {
    content: '';
    position: absolute;
    right: calc(100% + 35px);
    top: 9px;
    width: 45px;
    height: 8px;
    background: url(../img/svg/list-arrow.svg);
    background-size: 100% 100%;

    @media (max-width: $max-md) {
      right: calc(100% + 20px);
    }

    @media (max-width: $max-sm) {
      right: auto;
      left: -15px;
      top: 35px;
      transform: rotate(90deg);
    }
  }
}

.pr-test__list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 12px;
    height: 12px;
    background: url(../img/svg/q_history_p.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}