@media (min-width: $max-sm + 1px) {
  .hero__text-item {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    transition: -webkit-transform 1s cubic-bezier(.4,0,0,1);
    transition: all 1s cubic-bezier(.4,0,0,1);
    transition: all 1s cubic-bezier(.4,0,0,1), all 1s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: .4s;

    &:nth-child(2) {
      transition-delay: .6s;
      -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
      transform: translateX(200%);
    }

    &:nth-child(3) {
      transition-delay: .8s;
    }

    &:nth-child(4) {
      transition-delay: 1s;
      -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
      transform: translateX(200%);
    }

    .fp-section.active & {
      transform: translateX(0);
    }
  }

  .hero__button-block {
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: 1.4s;

    .fp-section.active & {
      opacity: 1;
    }
  }

  .clients__logo-slider {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: .4s;

    .fp-section.active & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .clients__slides-wrapper .slick-list {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: .8s;

    .fp-section.active & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .how__img-wrapper {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;

    .fp-section.active & {
      transform: scale(1);
    }

    .how__info-block:first-child & {
      transition-delay: .4s;
    }

    .how__info-block:nth-child(2) & {
      transition-delay: .6s;
    }

    .how__info-block:nth-child(3) & {
      transition-delay: .8s;
    }

    .how__info-block:nth-child(4) & {
      transition-delay: 1s;
    }
  }

  .how__list-item,
  .how__circle-block-title {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;

    .fp-section.active & {
      transform: scale(1);
      opacity: 1;
    }

    .how__info-block:first-child & {
      transition-delay: 1.2s;
    }

    .how__info-block:nth-child(2) & {
      transition-delay: 1.4s;
    }

    .how__info-block:nth-child(3) & {
      transition-delay: 1.6s;
    }

    .how__info-block:nth-child(4) & {
      transition-delay: 1.8s;
    }
  }

  .about__circle-block-count {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition-delay: .4s;

    .fp-section.active & {
      transform: scale(1);
    }

    .about__info-block:nth-child(2) & {
      transition-delay: .7s;
    }

    .about__info-block:nth-child(3) & {
      transition-delay: 1s;
    }
  }
  .about__circle-block-title,
  .about__circle-block-descr {
    opacity: 0;
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition-delay: .4s;

    .fp-section.active & {
      opacity: 1;
    }

    .about__info-block:first-child & {
      transition-delay: 1.2s;
    }

    .about__info-block:nth-child(2) & {
      transition-delay: 1.4s;
    }

    .about__info-block:nth-child(3) & {
      transition-delay: 1.6s;
    }
  }

  .services-section__blocks {
    position: relative;
    overflow: hidden;
  }

  .services-section__block {
    opacity: 0;
    transform: translateY(100%);
    transition: -webkit-transform 1s cubic-bezier(.4,0,0,1);
    transition: all 2s cubic-bezier(.4,0,0,1), padding-bottom .25s ease;
    transition: all 2s cubic-bezier(.4,0,0,1), all 2s cubic-bezier(.4,0,0,1), padding-bottom .25s ease;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    transition-delay: .4s;

    .fp-section.active & {
      opacity: 1;
      transform: translateY(0%);
    }

    &:first-child {
      transition-delay: .2s;
    }

    &:nth-child(2) {
      transition-delay: .4s;
    }

    &:nth-child(3) {
      transition-delay: .6s;
    }

    &:nth-child(4) {
      transition-delay: .8s;
    }
  }

  .for-whom__list-item {
    opacity: 0;
    transform: scale(0);
    transition: -webkit-transform 1s cubic-bezier(.4,0,0,1);
    transition: all 1.2s cubic-bezier(.4,0,0,1);
    transition: all 1.2s cubic-bezier(.4,0,0,1), all 1.2s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition-delay: .4s;

    .fp-section.active & {
      opacity: .5;
      transform: scale(1);

      &.circle-block__list-item {
        opacity: 1;
      }
    }
  }

  #advantage {
    &-2 {
      transition-delay: .6s;
    }

    &-3 {
      transition-delay: .8s;
    }

    &-4 {
      transition-delay: 1s;
    }

    &-5 {
      transition-delay: 1.2s;
    }

    &-6 {
      transition-delay: 1.4s;
    }
  }

  .try-now__main-title,
  .try-now__block {
    opacity: 0;
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition-delay: 1s;

    .fp-section.active & {
      opacity: 1;
    }
  }

  .try-now__block {
    &:first-child {
      transition-delay: 1.2s;
    }

    &:last-child {
      transition-delay: 1.4s;
    }
  }
}
