.services-section {
  display: flex;
  flex-direction: column;
  @extend %section-responsive;
}

.services-section__blocks {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;

  @media (min-width: $max-md + 1px) {
    display: flex;
  }

  @media (max-width: $max-sm) {
    margin-top: 40px;
  }

  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 15px;
    }
  }
}

.services-section__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
}

.services-section__block-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $max-md) {
    text-align: center;
    align-items: center;
  }

  .services-section__block_active &:nth-child(2) {
    flex-grow: 1;
  }
}

.services-section__block-title {
  display: block;
  float: left;
  clear: both;
  color: $purple;
  font-weight: 600;
  padding-bottom: 25px;
  transition: all .3s ease .4s;

  .services-section__block_active & {
    padding-bottom: 0;
    transition: all .3s ease;
  }

  &_with-crown {
    position: relative;
    align-self: flex-start;

    &:after {
      content: '';
      position: absolute;
      right: -35px;
      top: 4px;
      height: 16px;
      width: 23px;
      background: url(../img/svg/crown.svg) no-repeat;
      background-size: 100%;
    }
  }
}

.services-section__descr {
  position: relative;
  width: 100%;
  font-weight: bold;
  padding-bottom: 35px;
  line-height: 1.5;
  transition: all .3s ease .4s;
  overflow: hidden;
  max-width: calc(100% - 25px);

  @media (max-width: $max-md) {
    max-width: 385px;
  }

  .services-section__block_active & {
    transition: all .3s ease;
    opacity: 0;
    max-height: 0;
    padding: 0;
  }
}

.services-section__block-price {
  h3 {
    font-weight: 800;
    color: $white;
    padding-bottom: 5px;
    transition: all .3s ease .4s;

    .services-section__block_active & {
      //font-size: 1.5rem;
      transition: all .3s ease;
    }
  }

  p {
    color: $white;
    font-style: italic;
    padding-bottom: 25px;
    transition: all .3s ease .4s;

    .services-section__block_active & {
      padding-bottom: 5px;
      transition: all .3s ease;
    }
  }
}

.services-section__block-discount {
  padding-bottom: 35px;
  transition: all .3s ease .4s;

  .services-section__block_active & {
    padding-bottom: 5px;
    transition: all .3s ease;
  }

  h4 {
    padding-bottom: 5px;
    transition: all .3s ease .4s;

    .services-section__block_active & {
      //font-size: 1.2rem;
      font-size: 0;
      transition: all .3s ease;
    }
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
    padding-left: 13px;
    transition: all .3s ease .4s;

    .services-section__block_active & {
      padding-left: 0;
      transition: all .3s ease;
      font-size: 0;

    }
  }
}

.services-section__block-details {
  margin-bottom: auto;

  a {
    position: relative;
    display: inline-block;
    padding: 0 15px 0 0;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.313rem;
    color: $gray;
    outline: none;
    background: transparent;
    border: none;
    margin-bottom: 30px;
    text-decoration: none;
    transition: all .3s ease;

    .services-section__block_active & {
      transition: all .3s ease .4s;
      margin-bottom: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url(../img/svg/details_b.svg) no-repeat center/cover;
    }
  }
}

.services-section__block-details_content {
  position: relative;
  max-height: 0px;
  height: 100%;
  overflow: hidden;
  color: $gray;
  transition: all 1s ease;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 2;

  &::-webkit-scrollbar {
    display: none;
  }

  .services-section__block_active & {
    transition: all 1s ease;
    margin-bottom: 15px;
    max-height: 400px;
    overflow: scroll;

    @media (max-width: $max-md) {
      max-height: 150px;
    }
  }
}

.services-section__block-button {
  display: block;
  max-width: 165px;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid $purple;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0px -2px 5px rgba($purple, .2);
    transform: scale(.97);
  }

  b {
    font-weight: bold;
  }
}