.try-now {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @extend %section-responsive;
}

.try-now__row {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;

  @media (min-width: $max-sm + 1px) {
    flex-direction: row;
  }
}

.try-now__left-block {
  display: inline-flex;
  flex-direction: column;
  //justify-content: center;

  @media (max-width: $max-md) {
    width: 100%;
  }
}

.try-now__right-block {
  position: relative;
  column-count: 1;

  @media (min-width: $max-sm + 1px) and (max-width: $max-md) {
    column-count: 2;
  }
}

.try-now__form {
  //padding-top: 45px;
}

.try-now__form-button {
  border: none;
  margin-top: 35px;
}

.try-now__form-input {
  display: block;
  font-family: Montserrat;
  width: 100%;
  max-width: calc(100% - 45px);
  background: transparent;
  line-height: 34px;
  height: 34px;
  padding-left: 11px;
  border: 1px solid #D3CFE6;
  margin-bottom: 20px;
  color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $gray;
  }
}

.try-now__main-title {
  font-size: 2.313rem;
  letter-spacing: .03em;
  line-height: normal;
  font-weight: normal;
  padding: 40px 0;

  @media (max-width: $max-sm) {
    padding: 25px 0;
  }

  span {
    color: $purple;
  }

  @media (min-height: 800px) {
    padding: 150px 0 50px;
  }
}

.try-now__block {
  padding: 15px 0 15px 25px;

  @media (min-width: $max-sm + 1px) and (max-width: $max-md) {
    padding-left: 10px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    @media (min-width: $max-sm + 1px) {
      padding-bottom: 0;
    }
  }
}

.try-now__block-title {
  position: relative;
  padding-bottom: 10px;
  font-weight: bold;

  &:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 14px;
    height: 14px;
    background: url(../img/svg/q_history_p.svg);
    background-size: 100% 100%;

    @media (min-width: $max-sm + 1px) and (max-width: $max-md) {
      width: 8px;
      height: 8px;
      left: -10px;
      top: 3px;
    }

    @media (max-width: $max-sm) {
      font-size: 1.1rem;
    }
  }
}

.try-now__text {
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 300;

  @media (max-width: $max-sm) {
    font-size: .85rem;
  }
}