<section class="advantages" data-anchor="advantages">
    <div class="advantages__column advantages__column_title col-6-1 offset-6-1">
        <h2 class="about-page__title section-title">PRо нас</h2>
        <h4 class="advantages__title section-title section-title_thin">Переваги</h4>
    </div>
    <div class="advantages__wrapper js-md-slider col-6-3 col-md-6-2">
        <div class="advantages__column col-3-1">
            <div class="advantages__block">
                <h5 class="advantages__block-title">Свобода</h5>
                <p class="advantages__block-text">Ми раді ініціативі кожного нашого колеги.  Гнучкі робочий день та політика відпусток, можливість працювати віддалено, відсутність дрес-коду.</p>
            </div>
        </div>
        <div class="advantages__column col-3-1">
            <div class="advantages__block">
                <h5 class="advantages__block-title">Розвиток</h5>
                <p class="advantages__block-text">Завдання з викликом у компанії, що створює тренди. <br>Постійний зворотний зв'язок від керівників, корпоративна бібліотека, внутрішня LOOQSQOOL.</p>
            </div>
        </div>
        <div class="advantages__column col-3-1">
            <div class="advantages__block">
                <h5 class="advantages__block-title">Команда</h5>
                <p class="advantages__block-text">Атмосфера довіри, відкритості та взаємодопомоги, робота в професійній і залученій команді. Ми чуємо одне одного, вирішуючи питання.</p>
            </div>
        </div>
    </div>
</section>