<section class="about-hero" data-anchor="about-hero">
    <h2 class="about-hero__title section-title offset-6-1">PRо нас</h2>
    <div class="about-hero__text-wrapper">
        <h4 class="about-hero__subtitle col-6-2 offset-6-2 col-md-6-3 offset-md-6-1">Привіт, ми LOOQME!</h4>
        <p class="about-hero__text col-6-2 offset-6-2 col-md-6-3 offset-md-6-1">
            Ми працюємо, аби ніхто не міг сказати, що PR неможливо виміряти.<br>
            Ми мріємо про політ на Марс.<br>
            Ми віримо, що неможливого не існує.</p>
    </div>
</section>