<section class="history" data-anchor="history-1">
    <div class="history__wrapper logo-wrapper visible-mobile">
    <h4 class="history__title section-title section-title_thin">Історія</h4>
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1">
            <img src="./img/context.png" class="history__company-img" alt="">
        </div>
        <div class="col-6-1 col-md-6-2">
            <img src="./img/looqsmi.png" class="history__company-img" alt="">
        </div>
    </div>
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
            <div class="history__block">
                <h1 class="history__year">1999</h1>
                <p class="history__descr">заснування компанії та запуск комплексного моніторингу ЗМІ</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-2">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
            <div class="history__block">
                <h1 class="history__year">2004</h1>
                <p class="history__descr">відкрито 24 регіональні представництва</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-3">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
            <div class="history__block">
                <h1 class="history__year">2006</h1>
                <p class="history__descr">створення спеціалізованих галузевих продуктів</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-4">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
            <div class="history__block">
                <h1 class="history__year">2012</h1>
                <p class="history__descr">початок моніторингу соціальних мереж</p>
            </div>
        </div>
        <div class="col-6-1 col-md-6-2 history__company-block history__looqsmi">
            <div class="history__block">
                <h1 class="history__year">2012</h1>
                <p class="history__descr">альфа-версія онлайн платформи</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-5">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">

        </div>
        <div class="col-6-1 col-md-6-2 history__company-block history__looqsmi">
            <div class="history__block">
                <h1 class="history__year">2013</h1>
                <p class="history__descr">членство у FIBEP</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-6">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
        </div>
        <div class="col-6-1 history__company-block history__looqsmi">
            <div class="history__block">
                <h1 class="history__year">2014</h1>
                <p class="history__descr">партнерство ЕВА</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-7">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
            <div class="history__block">
                <h1 class="history__year">2015</h1>
                <p class="history__descr">запуск репутаційних досліджень на міжнародному рівні</p>
            </div>
        </div>
        <div class="col-6-1 col-md-6-2 history__company-block history__looqsmi">
            <div class="history__block">
                <h1 class="history__year">2015</h1>
                <p class="history__descr">бета-версія платформи 2.0</p>
            </div>
        </div>
    </div>
</section>
<section class="history" data-anchor="history-8">
    <div class="history__wrapper">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 history__company-block history__context">
        </div>
        <div class="col-6-1 col-md-6-1 history__company-block history__looqsmi">
            <div class="history__block">
                <h1 class="history__year">2017</h1>
                <p class="history__descr">офіційний запуск платформи 3.0<br><br>об’єднання з SIFT: Social Media Analytics</p>
            </div>
        </div>
    </div>
</section>

<section class="history history__final" data-anchor="history-9">
    <div class="history__wrapper">
        <h2 class="history__final-title">2017</h2>
        <h5 class="history__final-text">Cтворення компанії LOOQME</h5>
    </div>
</section>
