<section class="team" data-anchor="team">
    <div class="team__column team__column_first col-6-1 offset-6-1">
        <div>
            <h2 class="about-page__title section-title">PRо нас</h2>
            <h4 class="team__title section-title section-title_thin">Команда</h4>
            <div class="team__slider-nav-wrapper"></div>
        </div>
        <div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper team__person_sensey">
                    <img class="team__person-img" src="./img/morphs/dog-min.jpg" alt="">
                </div>
            </div>
            <a href="#" class="button button_purple"><b>PR</b>иєднатися</a>
        </div>
    </div>
    <div class="team__slider-wrapper col-6-3">
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <figure class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/2-min.jpg" alt="">
                </figure>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/4-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <figure class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/5-min.jpg" alt="">
                </figure>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/6-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/7-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/8-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/9-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/10-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/12-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/14-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/15-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/16-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/17-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/18-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/19-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/23-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/20-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/21-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/22-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/24-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/25-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/26-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/27-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/28-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/29-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/30-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/31-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/32-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/33-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/34-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/35-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/36-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/37-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/38-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/3-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/39-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="team__column col-3-1">
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/40-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="team__person-wrapper">
                <div class="team__person-img-wrapper">
                    <img class="team__person-img" src="./img/morphs/1-min.jpg" alt="">
                </div>
                <p class="team__person-name">Віталій <br>Сидоренко</p>
                <p class="team__person-position">Chief Executive Officer</p>
                <div class="team__person_social-links">
                    <a href="#" class="team__person-social-link">
                        <img src="./img/svg/linkedin_color.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>