<section class="vacations" data-anchor="vacations">
    <div class="vacations__column vacations__column_title col-6-1 offset-6-1">
        <h2 class="about-page__title section-title">PRо нас</h2>
        <h4 class="vacations__title section-title section-title_thin">Вакансії</h4>
    </div>
    <div class="vacations__content-row col-6-3">
        <div class="vacations__vacation-block">
            <p class="vacations__vacation-title col-3-1">Business Analyst</p>
            <div class="vacations__vacation-about col-3-1">
                <div class="vacations__vacation-location">Kyiv, UA</div>
                <div class="vacations__vacation-time">Full-Time</div>
            </div>
            <div class="vacations__button-block col-3-1">
                <a href="#pop-up-vacancy-1" class="vacations__button button pop-up-button">Відгукнутися</a>
            </div>
        </div>
        <div class="vacations__vacation-block">
            <p class="vacations__vacation-title col-3-1">Junior Python Developer  (Data Delivery)</p>
            <div class="vacations__vacation-about col-3-1">
                <div class="vacations__vacation-location">Kyiv, UA</div>
                <div class="vacations__vacation-time">Full-Time</div>
            </div>
            <div class="vacations__button-block col-3-1">
                <a href="#" class="vacations__button button">Відгукнутися</a>
            </div>
        </div>
        <div class="vacations__vacation-block">
            <p class="vacations__vacation-title col-3-1">Business Analyst</p>
            <div class="vacations__vacation-about col-3-1">
                <div class="vacations__vacation-location">Kyiv, UA</div>
                <div class="vacations__vacation-time">Full-Time</div>
            </div>
            <div class="vacations__button-block col-3-1">
                <a href="#" class="vacations__button button">Відгукнутися</a>
            </div>
        </div>
    </div>
</section>