<section class="worth" data-anchor="worth">
    <div class="worth__column col-6-1 offset-6-1">
        <h2 class="about-page__title section-title">PRо нас</h2>
        <h4 class="worth__title section-title section-title_thin">Цінності</h4>
    </div>
    <div class="worth__wrapper js-md-slider col-6-3" style="display: flex">
        <div class="worth__column col-3-1">
            <div class="worth__block">
                <h6 class="worth__block-title">Клієнтоорієнтованість</h6>
                <p class="worth__block-text">Ключове завдання нашого сервісу та системи - допомагати клієнтам досягати поставленої мети.</p>
            </div>
            <div class="worth__block">
                <h6 class="worth__block-title">Innovations</h6>
                <p class="worth__block-text">Наші розробники завжди в тонусі та рухаються в одному напрямку з тими, хто рухається у напрямку Марса.</p>
            </div>
        </div>
        <div class="worth__column col-3-1">
            <div class="worth__block">
                <h6 class="worth__block-title">Повага</h6>
                <p class="worth__block-text">В листуванні не пишемо “ви” з великої літери “В”, оскільки свою повагу виявляємо в роботі, виконанні своїх зобов’язань і розумінні цілей клієнта.</p>
            </div>
            <div class="worth__block">
                <h6 class="worth__block-title">Підтримка</h6>
                <p class="worth__block-text">На нашу команду можна покластись як в світлий сонячний день, так і в найтемнішу ніч.</p>
            </div>
        </div>
        <div class="worth__column col-3-1">
            <div class="worth__block">
                <h6 class="worth__block-title">Простота</h6>
                <p class="worth__block-text">Оцінка ефективності комунікацій має бути проста і не забирати багато часу. Швидкі інсайти - три кліки.</p>
            </div>
            <div class="worth__block">
                <h6 class="worth__block-title">Якість</h6>
                <p class="worth__block-text">Якщо ми взялись за роботу - робимо її якісно.</p>
            </div>
        </div>
    </div>

</section>