.thank-you {
  main {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0;
    }
  }
}

.thank-you__q {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}