.white-page {
  background: #F1F2F1;

  .section-title {
    color: $blue-2;
  }

  .vertical-lines__line {
    &:after {
      transition: all .3s ease;
    }
  }

}

.white-page:not(.c-nav-animated) {

  .vertical-lines__line {
    &:after {
      border-color: #E9E9EE;
      transition: all .3s ease;
    }
  }

  .header__button-block-try {
    color: $white;

    span {
      color: $white;
    }
  }

  .left-info__mail,
  .header__button-block-login,
  .address {
    color: $blue-2;
  }

  .c-nav-button span {
    background: $blue-2;
  }
}