<section class="about-pocket" data-anchor="about-pocket">
    <h2 class="prices-section__title section-title offset-6-1">Ціни</h2>
    <div class="about-pocket__wrapper">
        <div class="col-6-2 col-md-6-3 offset-6-2">
            <h4 class="services__block-title services__block-title_smaller">До всіх пакетів послуг входить:</h4>
            <ul class="services__list">
                <li class="services__list-item">Персональний онлайн-доступ до платформи <a href="hub.looqme.io">hub.looqme.io</a></li>
                <li class="services__list-item">Моніторинг ТБ та радіо, новинних інтернет-ресурсів та інформаційних агентств, центральної та регіональної друкованої преси</li>
                <li class="services__list-item">Завантаження даних в xls, pdf, html, zip, doc форматах</li>
                <li class="services__list-item">Групування передруківок</li>
                <li class="services__list-item">Вимірювання охоплення та аудиторії</li>
                <li class="services__list-item">Підтримка 24/7</li>
            </ul>
        </div>
    </div>
</section>