<section class="faq" data-anchor="faq">
    <h2 class="prices-section__title section-title offset-6-1">FAQ</h2>
    <div class="faq__wrapper">
        <ul class="col-6-2 offset-6-1 tab-pane__nav">
            <li class="tab-pane__nav-item activeLink"><a class="tab-pane__link active" href="tab-1">Як швидко новини потрапляють в систему після їх появи?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-2">Чи рахуємо ми охоплення публікацій?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-3">Як відбувається маркування новин?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-4">Чи можна змінювати об'єкти дослідження і як часто?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-5">Як ми міряємо медіа-ефективність?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-6">Як я можу отримувати щоденні звіти з моніторингу?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-7">Що таке Пошук? Чи можна замовляти його як окрему послугу?</a></li>
            <li class="tab-pane__nav-item"><a class="tab-pane__link" href="tab-8">Які умови підписки на послуги існують? Чи можна призупинити дію послуг?</a></li>
        </ul>
        <div class="col-6-2 tab-pane__content">
            <div class="tab-pane__tab active" data-anchor="tab-1">
                <p>Згадування в:</p>
                <ul>
                    <li>онлайн-виданнях - протягом 15 хвилин;</li>
                    <li>соціальних медіа - протягом 15 хвилин;</li>
                    <li>ТБ- та радіосюжетах - на ранок наступного дня від дня виходу сюжету;</li>
                    <li>центральних друкованих виданнях -  в день виходу видання;</li>
                    <li>регіональних виданнях -  протягом 3-5 днів;</li>
                    <li>щомісячних профільних виданнях та журналах - в залежності від дати їх виходу.</li>
                </ul>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-2">
                <p>Функція знаходиться на етапі розробки, зараз охоплення наявне тільки для онлайн-видань. Дані про кількість переглядів сайту за місяць отримуємо від Similarweb. На їх основі ранжуємо сайти за рівнем охоплення: ТОП-100, національні, регіональні та маловідомі джерела. Також рахуємо середню прогнозовану кількість переглядів однієї публікації.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-3">
                <p>Наші аналітики вручну проглядають кожну новину та визначають тональність, роль та тематику матеріалів під кожний проект. В пакеті PR Master кількість повідомлень до маркування становить 3000 згадувань, а в PR Professional - 15 000 згадувань на місяць. Якщо потрібно оцінювати вплив більшої кількості новин, то послугу можна докупити додатково.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-4">
                <p>Можна. Частота залежить лише від вашої необхідності. Єдине обмеження полягає в ретроспективі, що залежить від пакета послуг. В PR Sample ми не збираємо минулі згадування при додаванні нового об'єкту, в PR Master збираємо за останній місяць, а в PR Professinal - за останній рік.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-5">
                <p>Ми використовуємо три показники:</p>
                <ul>
                    <li>Media Visibility, MV - показник помітності бренду в медіа.</li>
                    <li>Media Quality, MQ - показник якості комунікації. Дозволяє комплексно оцінити якість згадувань за період.</li>
                    <li>Media Favourability Index, MFI - індекс лояльності медіа. Відносний показник, що враховує тональність публікацій.</li>
                </ul>
                <p>Показник Media Visibility рахується автоматично в системі. Media Quality та Media Favourability Index визначаються виключно нашими аналітиками при підготовці експертного аналізу.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-6">
                <p>В системі є функція створення автоматичних звітів на email. Гнучкі налаштування дозволяють обирати об'єкти чи збережені фільтри, формати звіту, періодичність надходження та адресатів. Звіти також можна формувати за різними типами ЗМІ, тегами, тональністю, джерелами, комбінацією об'єктів. Кількість розсилок не обмежена.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-7">
                <p>Сторінка Пошуку призначена для швидкого огляду певної теми. Пошук здійснюється за всією базою даних системи за останній рік. Це зручно, адже ви можете оперативно дослідити будь-яку тему, навіть не включену до об'єктів моніторингу. Така функція доступна, починаючи з пакета PR Professional, але її можна докупити окремо.</p>
            </div>
            <div class="tab-pane__tab" data-anchor="tab-8">
                <ul>
                    <li>Річна підписка - основний та найпоширеніший спосіб. Оплату згідно з річним договором можна здійснювати щомісяця або одноразово повною передоплатою. У разі передоплати ви отримуєте знижку - 2 місяці безкоштовних послуг.</li>
                    <li>Підписка на індивідуальний період - залежить від ваших завдань і потреб у конкретних проектах.</li>
                    <li>Разовий проект.</li>
                </ul>
                <p>Припинення підписки можливе не більше, ніж на 1 місяць. Оскільки на період паузи дані не збираються та не кодуються, це спричиняє втрату цілісної картини моніторингу.</p>
            </div>
        </div>
    </div>
</section>