<section class="services-section prices-section" data-anchor="prices-section">
    <h2 class="prices-section__title section-title offset-6-1">Ціни</h2>
    <div class="services-section__blocks js-md-slider offset-6-1 col-6-4">
        <div data-id="price-b-1" class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Sample</h5>
                <p class="services-section__descr">Моніторинг медіа та перші кроки у дослідженні PR</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>5 500</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-11 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="#">Детальніше</a>
                    <div class="services-section__block-details_content">Необмежена кількість згадувань<br>
                    	3 об’єкти дослідження<br>
                    	Автоматичні звіти<br>
                    	Аналітика кількості
                    </div>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div data-id="price-b-2" class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title services-section__block-title_with-crown">PR Master</h5>
                <p class="services-section__descr ">Моніторинг та аналіз  медіаполя для бізнесу</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>9 900</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-20 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="#">Детальніше</a>
                    <div class="services-section__block-details_content">Необмежена кількість згадувань <br>
                    	<span>7</span> об’єктів дослідження 
                    	<br>Автоматичні звіти 
                    	<br>Аналітика кількості 
                    	<br><span>Реакція соц-медіа</span>
                    	<div class="services-section__block-details_violet-block">
                    		<span>Тональність
                    		<br>Роль
                    		<br>Рубрикація</span>
                    		<span class="count-messages"><b>3 000</b>  повідомлень</span>
                    	</div>
                    </div>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div data-id="price-b-3" class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Professional</h5>
                <p class="services-section__descr ">Розширене дослідження  PR всього ринку  для компаній та агентств</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>29 700</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-60 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="#">Детальніше</a>
                    <div class="services-section__block-details_content">
                    	Необмежена кількість згадувань
						<br><span>21</span> об’єкт дослідження
						<br>Автоматичні звіти
						<br>Аналітика кількості
						<br>Реакція соц-медіа
                    	<div class="services-section__block-details_violet-block">
                    		<span>Тональність
                    		<br>Роль
                    		<br>Рубрикація</span>
                    		<span class="count-messages"><b>15 000</b>  повідомлень</span>
                    	</div>
                    	Аналітика якості
						<br><span>Розумні сповіщення (SMART ALERT)</span>
						<br><span>Архів 1 рік</span>
						<br><span>PR ангел</span>
						<br><span>Прямий пошук по всій базі ЗМІ</span>
						<br><span>Експертний аналіз з соціологією</span>
                    </div>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div data-id="price-b-4" class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Legendary</h5>
                <p class="services-section__descr ">Індивідуальне стратегічне рішення для вимірювання та аналізу PR великого бізнесу</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>XXX</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-17%</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="#">Детальніше</a>
                    <div class="services-section__block-details_content">
                    	Необмежена кількість згадувань
					    <br><img src="./img/svg/loop.svg" alt="">об’єктів дослідження 
						<br>Автоматичні звіти 
						<br>Аналітика кількості 
						<br>Реакція соц-медіа 
                    	<div class="services-section__block-details_violet-block">
                    		<span>Тональність
                    		<br>Роль
                    		<br>Рубрикація</span>
                    		<span class="count-messages"><b><img src="./img/svg/loop.svg" alt=""></b>  повідомлень</span>
                    	</div>
                    	Аналітика якості
						<br>Аналітика якості 
						<br>Розумні сповіщення SMART ALERT
						<br>PR-ангел
						<br>Прямий пошук по всій базі ЗМІ
						<br>Експертний аналіз з соціологією
						<br><span>Архів до 17 років</span>
						<br><span>API</span>
                    </div>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
    </div>
</section>