.vacancy-wrapper {
  opacity: 0;
  transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
  transition: all .6s cubic-bezier(.4,0,0,1);
  transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
  transition-delay: .8s;

  body.loaded & {
    opacity: 1;
  }

  .button {


    body.loaded & {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.vacancy__title {
  body.loaded & {
    transform: scaleY(1);
    opacity: 1;
  }
}