.vacancy main {
  @extend %section-responsive;

  .vacations__vacation-about {
    padding-bottom: 20px;
    margin: 0;
  }
}

.vacancy__title {
  padding: 80px 0 30px;

  @media (max-width: $max-md) {
    padding-bottom: 10px;
  }
}

.vacancy__content {
  color: $gray;
  font-size: 1rem;
  line-height: 1.8;

  h6 {
    margin: 50px 0 25px;
    font-weight: bold;

    @media (max-width: $max-sm) {
      margin: 30px 0 15px;
    }
  }

  ul {
    padding-bottom: 20px;
  }

  li {
    position: relative;
    padding-left: 25px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 12px;
      height: 12px;
      background: url(../img/svg/q_history_p.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.vacancy__button {
  margin-bottom: 45px;
}