<section class="services__section" alt="Контент-аналіз" data-pop-up="pop-up-analytic-1">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Працюйте з інсайтами</h4>
                <p class="services__text"><b>Контент-аналіз</b> дозволяє отримати повну інформацію про медіа-активність вашої компанії, активність основних конкурентів та ринку загалом. Досліджуйте канали комунікацій, аудиторії та результати інформаційного впливу.</p>
                <h6 class="services__block-title services__block-title_smaller">Етапи контент-аналізу:</h6>
                <ul class="services__list">
                    <li class="services__list-item">бриф</li>
                    <li class="services__list-item">збір інформації</li>
                    <li class="services__list-item">кодування</li>
                    <li class="services__list-item">аналіз</li>
                    <li class="services__list-item">візуалізація</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Отримуєте відповіді на запитання: <br>- <b>ХТО</b> і <b>ЩО</b> публікує? <br>- Через які <b>КАНАЛИ</b>? <br>- Для <b>КОГО</b>? <br>- З яким <b>ЕФЕКТОМ</b>?</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section" alt="Контент-аналіз" data-pop-up="pop-up-analytic-2">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Порівнюйте бенчмарки</h4>
                <p class="services__text">База <b>бенчмарків</b> (середніх значень) дозволяє порівнювати притаманні особливості та характеристики різних ринків, аби виходити за межі власної сфери та орієнтуватися на вдалі кейси.</p>
                <h6 class="services__block-title services__block-title_smaller">Порівнюйте:</h6>
                <ul class="services__list">
                    <li class="services__list-item">кількість публікацій</li>
                    <li class="services__list-item">відсоток позитиву/негативу</li>
                    <li class="services__list-item">potential reach</li>
                    <li class="services__list-item">відсоток у головній ролі</li>
                    <li class="services__list-item">показники медіа-ефективності</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Орієнтуйтесь на активність в <b>ІНШИХ СФЕРАХ</b>, знаходьте <b>ІНСАЙТИ</b> та переймайте <b>КРАЩІ ПРАКТИКИ</b>.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section" alt="Аналіз промо-кампаній" data-pop-up="pop-up-analytic-3">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Фокусуйтеся на важливому</h4>
                <p class="services__text"><b>Аналіз промо-кампаній</b> дозволяє відокремити ініційовані інфоприводи та оцінити зусилля у формуванні власного інформаційного поля.</p>
                <h6 class="services__block-title services__block-title_smaller">Дізнавайтеся:</h6>
                <ul class="services__list">
                    <li class="services__list-item">частку ініційованих публікацій;</li>
                    <li class="services__list-item">кількість поширених матеріалів;</li>
                    <li class="services__list-item">кількість зібраних контактів;</li>
                    <li class="services__list-item">типи ЗМІ, що розповсюдили інформацію;</li>
                    <li class="services__list-item">шлях поширення новин від першого джерела;</li>
                    <li class="services__list-item">"період життя" кожного інфоприводу.</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Оцінюйте ефективність <b>ВЛАСНИХ ПУБЛІКАЦІЙ</b> із загального масиву згадувань.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section" alt="Аналіз промо-кампаній">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Поглиблюйте аналіз </h4>
                <p class="services__text"><b>Соціологічні дослідження</b> дозволяють зрозуміти, як та де краще спілкуватися з цільовою аудиторією. Використовуйте соціологію для співвідношення із медіа-активністю.</p>
                <h6 class="services__block-title services__block-title_smaller">Розкривайте питання:</h6>
                <ul class="services__list">
                    <li class="services__list-item">Чи знає населення про вашу компанію, що саме вони знають?</li>
                    <li class="services__list-item">Де аудиторії зустрічають та де б хотіли зустрічати ваші новини?</li>
                    <li class="services__list-item">Які за тональністю новини зустрічались за останній період?</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text"><b>РОЗУМІЙТЕ</b> свою <b>АУДИТОРІЮ</b> краще завдяки соціологічним опитуванням.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section" alt="Аналіз репутації CEO та перших осіб">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Зважайте на репутацію</h4>
                <p class="services__text"><b>Аналіз репутації CEO та перших осіб</b> дозволяє дослідити активність топ-менеджменту та оцінити їх вплив на компанію.</p>
                <h6 class="services__block-title services__block-title_smaller">Досліджуйте:</h6>
                <ul class="services__list">
                    <li class="services__list-item">частоту згадувань CEO у контексті компанії/бренду;</li>
                    <li class="services__list-item">тематики згадувань топ-менеджменту;</li>
                    <li class="services__list-item">джерела публікацій;</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Корегуйте репутаційну <b>СТРАТЕГІЮ</b> та персональний <b>БРЕНДИНГ</b>.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section" alt="Ретроспективний аналіз">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services-analytic__title">Аналізуйте динаміку</h4>
                <p class="services__text"><b>Ретроспективний аналіз</b> дозволяє порівняти нинішню медіа-активність з відповідними показниками у минулому - 1/3/5 років тому. Аналізуйте свій розвиток та загальні тренди.</p>
                <h6 class="services__block-title services__block-title_smaller">Знаходьте:</h6>
                <ul class="services__list">
                    <li class="services__list-item">закономірності вашої медіа-активності</li>
                    <li class="services__list-item">циклічність та сезонність</li>
                    <li class="services__list-item">періодичні особливості інфополя та ринку</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Оцінюйте свою <b>ПОЗИЦІЮ</b> у медіа-просторі в <b>ДИНАМІЦІ</b>.</p>
            </div>
        </div>
    </div>
</section>