<div>
    <h2 class="services__title section-title">Аналітика</h2>
    <h5 class="services__left-side-subtitle"><strong>Контент-аналіз</strong></h5>
</div>
<a href="#pop-up-analytic" class="services__left-side-digest pop-up-button monitoring__button">Приклад</a>
<a href="#" class="services__left-side-button button">Замовити</a>

