@media (min-width: $max-sm + 1px) {
  .section-title {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    transition-delay: .4s;

    .fp-section.active & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .vertical-lines__line {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transition: all 1.5s ease;
    //transition: all 1.1s cubic-bezier(.4,0,0,1);
    //transition: all 1.1s cubic-bezier(.4,0,0,1), all 1.1s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;

    .fp-enabled & {
      transform: scaleY(1);
    }

    &:first-child {
      transition-delay: .2s;
    }

    &:nth-child(2) {
      transition-delay: .4s;
    }

    &:nth-child(3) {
      transition-delay: .6s;
    }

    &:nth-child(4) {
      transition-delay: .8s;
    }

    &:nth-child(5) {
      transition-delay: 1s;
    }

    &:nth-child(6) {
      transition-delay: 1.2s;
    }
  }

  .button {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s cubic-bezier(0, 1.5, 0.5, 1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: .8s;

    .fp-section.active & {
      opacity: 1;
      transform: scale(1);
    }
  }
}
