.button {
  font-family: Montserrat;
  display: block;
  clear: both;
  width: 126px;
  height: 40px;
  line-height: 40px;
  color: $white;
  background: #4D3999;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 25px;
  font-weight: lighter;
  box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.25);

  @media (min-width: $max-md + 1px) {
    width: 166px;
  }

  b {
    font-weight: bold;
  }

  &_purple {
    background: $purple;
  }

  &_try {
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    background: $purple;
    border: 1px solid transparent;
    transition: all .4s ease .25s;

    @media (max-width: 1370px) {
      padding: 0 15px;
    }
  }
}

button.button {
  cursor: pointer;
  box-sizing: unset;
  padding: 0;
  border: none;
}