html {

  @media (max-width: $max-xl) {
    font-size: 15px;
  }

  @media (max-width: 1370px) {
    font-size: 14px;
  }

  @media (max-width: 1199px) {
    font-size: 13px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $bg-blue;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
p,a,span, ul, ol, li {
  letter-spacing: .03em;
  color: $gray;

  &.color-purple {
    color: $purple;
  }
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.section-title {
  color: $gray;
  font-weight: 800;
  padding-top: 80px;

  @media (max-width: $max-sm) {
    font-size: 2.5rem;
    padding-top: 40px;
  }

  &_thin {
    font-weight: lighter;
    padding-top: 35px;
    color: $gray-3;
  }
}

.c-nav-animated {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slick {
  &-arrow {
    text-indent: -10000px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 13px;
      height: 21px;
      background: url(../img/svg/slider_arrow.svg) no-repeat center/100% 100%;
      cursor: pointer;
    }
  }

  &-next {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.visible-desktop {
  @media (max-width: $max-md) {
    display: none;
  }
}

.visible-tablet {
  display: none !important;

  @media (max-width: $max-md) {
    display: block !important;
  }
}

.visible-mobile {
  display: none;

  @media (max-width: $max-sm) {
    display: block;
  }
}

.slick-slide {
  outline: none;
}

.about-page__title {
  padding-top: 0;
  padding-bottom: 20px;

  @media (max-width: $max-sm) {
    display: none;
  }
}

.data-invisible {
  display: none;
}