.row {
  width: 100%;
}

.col-6-1,
.col-6-2,
.col-6-3,
.col-6-4,
.col-6-5,
.col-6-6,
.col-4-1,
.col-4-2,
.col-3-1,
.col-3-2,
.col-md-6-2,
.col-md-6-3,
.offset-md-6-1 {
  display: inline-block;
  min-height: 1px;
  vertical-align: top;
  padding-left: 0;
}

.col-6-1 {
  @media (min-width: $max-sm + 1px) {
    width: $col-6;
  }
}

.col-6-2 {
  @media (min-width: $max-sm + 1px) {
    width: $col-6 * 2;
  }
}

.col-6-3 {
  @media (min-width: $max-sm + 1px) {
    width: $col-6 * 3;
  }
}

.col-6-4 {
  @media (min-width: $max-sm + 1px) {
    width: $col-6 * 4;
  }
}

.col-6-5 {
  @media (min-width: $max-sm + 1px) {
    width: $col-6 * 5;
  }
}

.col-md-6-2 {
  @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
    width: $col-6 * 2 !important;
  }
}

.col-md-6-3 {
  @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
    width: $col-6 * 3 !important;
  }
}

.col-md-6-4 {
  @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
    width: $col-6 * 4 !important;
  }
}

.col-md-6-5 {
  @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
    width: $col-6 * 5 !important;
  }
}

.offset-6-1 {
  @media (min-width: $max-sm + 1px) {
    margin-left: $col-6;
  }
}

.offset-6-2 {
  @media (min-width: $max-sm + 1px) {
    margin-left: $col-6 * 2;
  }
}

.offset-6-3 {
  @media (min-width: $max-sm + 1px) {
    margin-left: $col-6 * 3;
  }
}

.offset-md-6-1 {
  @media (max-width: $max-md) and (min-width: $max-sm + 1px) {
    margin-left: $col-6 !important;
  }
}

.offset-3-1 {
  @media (min-width: $max-sm + 1px) {
    margin-left: 33.333333%;
  }
}

.offset-4-1 {
  @media (min-width: $max-sm + 1px) {
    margin-left: 25%;
  }
}

.col-4-1 {
  @media (min-width: $max-sm + 1px) {
    width: 25%;
  }
}

.col-4-2 {
  @media (min-width: $max-sm + 1px) {
    width: 50%;
  }
}

.col-3-1 {
  @media (min-width: $max-sm + 1px) {
    width: 33.3333333%;
  }
}

.col-3-2 {
  @media (min-width: $max-sm + 1px) {
    width: 66.6666666%;
  }
}