$max-xl: 1489px;
$max-lg: 1199px;
$max-md: 991px;
$max-sm: 767px;
$max-xs: 574px;

$purple: #E73E51;
$blue: #332666;
$blue-2: #4D3999;
$bg-blue: #1A1333;
$gray: #D3CFE5;
$gray-2: #D3CFE6;
$gray-3: #E5E5E5;
$white: #fff;

$col-6: 16.6666666667%;