<section class="about" data-anchor="about">
    <h2 class="about__title section-title offset-6-1">Цифри PRодукту</h2>
    <div class="about__info-wrapper js-md-slider animated-block col-6-3 offset-6-2">
        <div class="about__info-block col-6-2">
            <p class="about__circle-block-count">
                <span class="about__circle">
                    <img src="./img/svg/red-circle.svg" alt="">
                </span>
                <span class="about__circle-block-count_text">36142289</span>
            </p>
            <h3 class="about__circle-block-title">1254</h3>
            <p class="about__circle-block-descr">Новини у базі</p>
        </div>
        <div class="about__info-block col-6-2">
            <p class="about__circle-block-count">
                <span class="about__circle">
                    <img src="./img/svg/red-circle.svg" alt="">
                </span>
                <span class="about__circle-block-count_text">3252274</span>
            </p>
            <h3 class="about__circle-block-title">8351</h3>
            <p class="about__circle-block-descr">Прокодовані новини</p>
        </div>
        <div class="about__info-block col-6-2">
            <p class="about__circle-block-count">
                <span class="about__circle">
                    <img src="./img/svg/red-circle.svg" alt="">
                </span>
                <span class="about__circle-block-count_text">870</span>
            </p>
            <h3 class="about__circle-block-title">5</h3>
            <p class="about__circle-block-descr">Аналітичні звіти</p>
        </div>
    </div>
</section>