<section class="analytic-section" data-anchor="analytic">
    <h2 class="services-section__title section-title offset-6-1">Аналітика</h2>
    <div class="analytic-section__slider offset-6-1 col-6-3">
        <div class="analytic-section__slide-wrapper col-3-2 offset-3-1">
            <div class="analytic-section__slide">
                <h4 class="analytic-section__slide-title">Контент-аналіз</h4>
                <p class="analytic-section__slide-text">Всебічно досліджуйте власну медіа-активність, активність конкурентів та ситуацію на ринку. Порівнюйте канали комунікацій, аудиторії та інформаційний вплив. Працюйте з інсайтами.</p>
                <a href="#" class="analytic-section__slide-link">Детальніше</a>
            </div>
            <div class="analytic-section__slide">
                <h4 class="analytic-section__slide-title">Аналіз промо-кампаній</h4>
                <p class="analytic-section__slide-text">Відділяйте власні інформаційні приводи від загального масиву згадувань про компанію. Досліджуйте кількісне та якісне поширення ініційованих вами публікацій.</p>
                <a href="#" class="analytic-section__slide-link">Детальніше</a>
            </div>
            <div class="analytic-section__slide">
                <h4 class="analytic-section__slide-title">Аналіз репутації CEO та перших осіб</h4>
                <p class="analytic-section__slide-text">Аналізуйте медіа-активність топ-менеджменту та досліджуйте їх вплив на репутацію компанії.</p>
                <a href="#" class="analytic-section__slide-link">Детальніше</a>
            </div>
            <div class="analytic-section__slide">
                <h4 class="analytic-section__slide-title">Ретроспективний аналіз</h4>
                <p class="analytic-section__slide-text">Вивчайте інформаційне поле у розрізі минулих років. Порівнюйте актуальну медіа-активність із попередніми періодами для виявлення взаємозалежностей, циклічностей та особливостей ринку.</p>
                <a href="#" class="analytic-section__slide-link">Детальніше</a>
            </div>
        </div>
    </div>
</section>