<section class="clients" data-anchor="clients">
    <h2 class="clients__title section-title offset-6-1">Клієнти</h2>
    <div class="clients__logo-slider col-6-4 offset-6-1">
        <img src="./img/clients/abinbev.png" alt="" class="clients__logo">
        <img src="./img/clients/abinbev.png" alt="" class="clients__logo">
        <img src="./img/clients/Alfa-Bank.png" alt="" class="clients__logo">
        <img src="./img/clients/Alfa-Bank.png" alt="" class="clients__logo">
        <img src="./img/clients/axa.png" alt="" class="clients__logo">
        <img src="./img/clients/axa.png" alt="" class="clients__logo">
        <img src="./img/clients/basf.png" alt="" class="clients__logo">
        <img src="./img/clients/epicenter.png" alt="" class="clients__logo">
        <img src="./img/clients/sayenko.png" alt="" class="clients__logo">
    </div>
    <div class="clients__text-slider row">
        <div class="clients__slides-wrapper col-6-3 offset-6-2">
            <div class="clients__text-slider-slide">
                <p class="clients__text">З допомогою вашого сервісу ми можемо відкоригувати нашу PR-стратегію, відреагувати на негатив, якщо він є. В цілому ваш сервіс чудовий.</p>
                <div>
                    <h6 class="clients__client-name">Віталій Кочевих</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-1.png" alt="" class="clients__client-company">
                </div>
            </div>
            <div class="clients__text-slider-slide">
                <p class="clients__text">Ми обираємо найкращих. Завжди ми працюємо тільки з лідерами ринку і в даному випадку це компанія LookSMI.</p>
                <div>
                    <h6 class="clients__client-name">Анастасія Зражевська</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-2.png" alt="" class="clients__client-company">
                </div>
            </div>
            <div class="clients__text-slider-slide">
                <p class="clients__text">Агентство ContextMedia з повною відповідальністю підходить до поставлених завдань, надає свої послуги якісно і вчасно. Відмінними рисами роботи агентства є високий професіоналізм та організованість</p>
                <div>
                    <h6 class="clients__client-name">Світлана Веселовська</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-3.png" alt="" class="clients__client-company">
                </div>
            </div>
            <div class="clients__text-slider-slide">
                <p class="clients__text">2222З допомогою вашого сервісу ми можемо відкоригувати нашу PR-стратегію, відреагувати на негатив, якщо він є. В цілому ваш сервіс чудовий.</p>
                <div>
                    <h6 class="clients__client-name">Віталій Кочевих</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-1.png" alt="" class="clients__client-company">
                </div>
            </div>
            <div class="clients__text-slider-slide">
                <p class="clients__text">2222Ми обираємо найкращих. Завжди ми працюємо тільки з лідерами ринку і в даному випадку це компанія LookSMI.</p>
                <div>
                    <h6 class="clients__client-name">Анастасія Зражевська</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-2.png" alt="" class="clients__client-company">
                </div>
            </div>
            <div class="clients__text-slider-slide">
                <p class="clients__text">2222Агентство ContextMedia з повною відповідальністю підходить до поставлених завдань, надає свої послуги якісно і вчасно. Відмінними рисами роботи агентства є високий професіоналізм та організованість</p>
                <div>
                    <h6 class="clients__client-name">Світлана Веселовська</h6>
                    <p class="clients__client-pos">Посада</p>
                    <img src="./img/client-comp-3.png" alt="" class="clients__client-company">
                </div>
            </div>
        </div>
    </div>
</section>