<section class="for-whom" data-anchor="for-whom">
    <h2 class="for-whom__title section-title offset-6-1">Для кого</h2>
    <div class="for-whom__animated-block">
        <div class="for-whom__row for-whom__row_upper offset-6-1 col-6-4 visible-desktop">
            <div class="for-whom__list-item for-whom__advantage col-4-1" id="advantage-3">
                <div><span>.03</span>Дані для <br>прогнозування PR</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage col-4-1" id="advantage-4">
                <div><span>.04</span>Додатковий <br>час на реакцію</div>
            </div>
        </div>
        <div class="for-whom__row for-whom__row_middle offset-6-1 col-6-4">
            <div class="for-whom__list-item for-whom__advantage visible-desktop for-whom__advantage_float-right col-4-1" id="advantage-2">
                <div><span>.02</span>Економія <br>часу</div>
            </div>
            <ul class="for-whom__circle-block">
                <li class="for-whom__list-item circle-block__list-item">PR-спеціалісти</li>
                <li class="for-whom__list-item circle-block__list-item">Політтехнологи</li>
                <li class="for-whom__list-item circle-block__list-item">Маркетологи</li>
                <li class="for-whom__circle">
                    <img src="/img/svg/red-circle.svg" alt="">
                </li>
            </ul>
            <div class="for-whom__list-item for-whom__advantage visible-desktop col-4-1" id="advantage-5">
                <div><span>.05</span>Покращення <br>KPI</div>
            </div>
        </div>
        <div class="for-whom__row for-whom__row_lower offset-6-1 col-6-4 visible-desktop">
            <div class="for-whom__list-item for-whom__advantage col-4-1" id="advantage-1">
                <div><span>.01</span>Метрики для <br>прийняття рішень</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage col-4-1" id="advantage-6">
                <div><span>.06</span>Ефективне <br>використання ресурсів</div>
            </div>
        </div>
        <div class="for-whom__row visible-tablet">
            <div class="for-whom__list-item for-whom__advantage" id="advantage-1">
                <div><span>.01</span>Метрики для <br>прийняття рішень</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage" id="advantage-2">
                <div><span>.02</span>Економія <br>часу</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage" id="advantage-3">
                <div><span>.03</span>Дані для <br>прогнозування PR</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage" id="advantage-4">
                <div><span>.04</span>Додатковий <br>час на реакцію</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage" id="advantage-5">
                <div><span>.05</span>Покращення <br>KPI</div>
            </div>
            <div class="for-whom__list-item for-whom__advantage" id="advantage-6">
                <div><span>.06</span>Ефективне <br>використання ресурсів</div>
            </div>
        </div>
    </div>
</section>