<section class="hero" data-anchor="hero">
    <div id="kinect"></div>
    <div class="hero__text-block">
        <h1 class="hero__text-item">сервіс</h1>
        <h1 class="hero__text-item">для</h1>
        <h1 class="hero__text-item">ефективного</h1>
        <h1 class="hero__text-item">pr</h1>
    </div>
    <!--<img class="hero__visible-laptop hero__q" src="./img/front_q.png" alt="">-->
    <img class="hero__visible-laptop hero__q" src="./mobile.gif">
    <div class="hero__button-block">
        <a href="#pop-up-video" class="hero__button-block-how pop-up-button">Як це <span>PR</span>ацює</a>
        <a href="#pop-up-try" class="hero__button-block-try button_try pop-up-button">c<span>PR</span>обувати</a>
    </div>
</section>