<section class="how" data-anchor="how">
    <h2 class="how__title section-title offset-6-1">Як це PRацює</h2>
    <div class="how__info-wrapper js-md-slider col-6-4 offset-6-1 ">
        <div class="how__info-block col-4-1">
            <div class="how__img-wrapper">
                <svg class="how__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM12.6418 12.4856H14.7181L14.9929 9.84714H12.6421V8.2929C12.6421 7.70993 13.032 7.57305 13.3093 7.57305H15V5.00963L12.6698 5C10.0837 5 9.49612 6.91365 9.49612 8.13573V9.84468H8V12.4856H9.49612V20H12.6418V12.4856Z" fill="#FF6677"/>
                </svg>
                <svg class="how__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.37593 17.6722C7.81669 17.5792 8.15022 17.1615 8.15022 16.6621L8.15025 12.3885H7.19006C6.6607 12.3885 6.22988 12.8504 6.22988 13.4181V16.6621C6.22988 17.2297 6.66051 17.6916 7.19006 17.6916V17.6722H7.37593Z" fill="#FF6677"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4295 17.6722C17.1564 17.6722 17.7702 17.0139 17.7702 16.2347V6.30837H9.23722V16.6621C9.23722 17.0261 9.15423 17.3697 9.00731 17.6722H16.4295ZM14.5454 8.79484H11.1395C10.8393 8.79484 10.5959 9.05571 10.5959 9.37761C10.5959 9.69948 10.8392 9.96038 11.1395 9.96038H14.5454C14.8458 9.96038 15.0889 9.69951 15.0889 9.37761C15.0889 9.05571 14.8456 8.79484 14.5454 8.79484ZM15.8498 11.6115H11.1395C10.8393 11.6115 10.5959 11.8724 10.5959 12.1943C10.5959 12.5161 10.8392 12.777 11.1395 12.777H15.8498C16.15 12.777 16.3933 12.5162 16.3933 12.1943C16.3933 11.8724 16.15 11.6115 15.8498 11.6115ZM11.1395 14.2535H14.5454C14.8456 14.2535 15.0889 14.5144 15.0889 14.8363C15.0889 15.1582 14.8458 15.4191 14.5454 15.4191H11.1395C10.8392 15.4191 10.5959 15.1582 10.5959 14.8363C10.5959 14.5144 10.8393 14.2535 11.1395 14.2535Z" fill="#FF6677"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM8.69371 5.14286H18.3136C18.6138 5.14286 18.8571 5.40373 18.8571 5.72563V16.2347C18.8571 17.6701 17.768 18.8377 16.4295 18.8377H7.46234C7.37338 18.8505 7.28242 18.8571 7.19004 18.8571C6.06118 18.8571 5.14286 17.8725 5.14286 16.6621V13.4181C5.14286 12.2079 6.06118 11.223 7.19004 11.223H8.1502V5.72563C8.1502 5.40373 8.39352 5.14286 8.69371 5.14286Z" fill="#FF6677"/>
                </svg>
                <svg class="how__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM20.8038 8.71C18.6462 6.4 15.7692 5 12.5 5C9.23077 5 6.28846 6.4 4.19615 8.71C4.06538 8.85 4 8.99 4 9.2C4 9.41 4.06538 9.55 4.19615 9.69L5.11154 10.67C5.37308 10.95 5.76538 10.95 6.02692 10.67C7.66154 8.92 9.95 7.8 12.5 7.8C15.05 7.8 17.3385 8.92 18.9731 10.67C19.2346 10.95 19.6269 10.95 19.8885 10.67L20.8038 9.69C20.9346 9.55 21 9.41 21 9.2C21 8.99 20.9346 8.78 20.8038 8.71ZM12.4995 10.6C10.6687 10.6 9.09949 11.37 7.92257 12.63C7.66103 12.91 7.66103 13.33 7.92257 13.61L8.83795 14.59C9.09949 14.87 9.4918 14.87 9.75334 14.59C10.4726 13.82 11.4533 13.4 12.4995 13.4C13.5456 13.4 14.5264 13.89 15.2456 14.59C15.5072 14.87 15.8995 14.87 16.161 14.59L17.0764 13.61C17.338 13.33 17.338 12.91 17.0764 12.63C15.8995 11.37 14.3303 10.6 12.4995 10.6ZM12.5 19C13.2222 19 13.8077 18.3732 13.8077 17.6C13.8077 16.8268 13.2222 16.2 12.5 16.2C11.7778 16.2 11.1923 16.8268 11.1923 17.6C11.1923 18.3732 11.7778 19 12.5 19Z" fill="#FF6677"/>
                </svg>
                <svg class="how__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0001 13.4533L12.5147 15.1049H11.4854L12.0001 13.4533Z" fill="#FF6677"/>
                    <path d="M10.6429 17.8091L11.0873 16.383H12.913L13.3573 17.8091H10.6429Z" fill="#FF6677"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM16.8482 3.61568C16.6081 3.3662 16.2189 3.3662 15.9789 3.61568C15.7388 3.86532 15.7388 4.26986 15.9789 4.51942C17.0423 5.62483 17.6278 7.09448 17.6277 8.65769C17.6277 10.221 17.042 11.6906 15.9786 12.796C15.7385 13.0455 15.7385 13.4501 15.9785 13.6996C16.0986 13.8244 16.2559 13.8868 16.4132 13.8868C16.5705 13.8868 16.7279 13.8244 16.8479 13.6997C18.1435 12.3529 18.8571 10.5623 18.8571 8.6576C18.8571 6.75316 18.1437 4.96247 16.8482 3.61568ZM8.01779 4.52073C8.25784 4.27117 8.25784 3.86654 8.01771 3.61698C7.77773 3.36751 7.38852 3.36743 7.14846 3.61707C4.47435 6.39731 4.47435 10.9208 7.1483 13.7008C7.26837 13.8256 7.42564 13.888 7.583 13.888C7.74028 13.888 7.89764 13.8256 8.01762 13.7009C8.25776 13.4513 8.25776 13.0467 8.01771 12.7972C5.82288 10.5154 5.82296 6.80261 8.01779 4.52073ZM8.80483 11.9778C8.9249 12.1026 9.08218 12.165 9.23953 12.165C9.39681 12.165 9.55417 12.1026 9.67415 11.9778C9.91429 11.7283 9.91429 11.3237 9.67424 11.0742C8.39234 9.74137 8.39234 7.57272 9.67424 6.23998C9.91429 5.99042 9.91429 5.5858 9.67415 5.33624C9.43402 5.0866 9.0448 5.08668 8.80491 5.33632C7.04381 7.16732 7.04381 10.1468 8.80483 11.9778ZM14.3237 11.978C14.4436 12.1027 14.601 12.1651 14.7583 12.1651C14.9156 12.1651 15.0729 12.1027 15.193 11.9779C16.0462 11.0908 16.5161 9.91137 16.5161 8.65702C16.5161 7.4025 16.0462 6.22322 15.1928 5.33618C14.9529 5.0867 14.5636 5.08662 14.3236 5.33626C14.0835 5.58582 14.0835 5.99044 14.3237 6.23992C14.9447 6.88549 15.2867 7.74382 15.2867 8.65694C15.2867 9.57005 14.9447 10.4285 14.3236 11.0742C14.0835 11.3238 14.0835 11.7284 14.3237 11.978ZM11.9984 10.2802C12.8609 10.2802 13.5597 9.55354 13.5597 8.65722C13.5597 7.76089 12.861 7.03436 11.9984 7.03436C11.1362 7.03436 10.4372 7.76089 10.4372 8.65722C10.4373 9.55354 11.1362 10.2802 11.9984 10.2802ZM12.5848 11.1826C12.5027 10.9191 12.2666 10.7406 12 10.7406C11.7335 10.7406 11.4974 10.9192 11.4153 11.1826L8.75041 19.7353C8.64583 20.071 8.82278 20.4314 9.14569 20.5402C9.20872 20.5614 9.27248 20.5714 9.33526 20.5714C9.59449 20.5714 9.83561 20.3995 9.91986 20.1292L10.2446 19.0871H13.7556L14.0803 20.1292C14.1849 20.4649 14.5314 20.6489 14.8545 20.5402C15.1774 20.4314 15.3544 20.071 15.2497 19.7353L12.5848 11.1826Z" fill="#FF6677"/>
                </svg>
                <svg class="how__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24ZM13.6562 6.31137H17.9843C18.5443 6.31137 19 6.77898 19 7.35372V15.9577C19 16.5324 18.5444 17 17.9843 17H6.01569C5.45563 17 5 16.5324 5 15.9577V7.35372C5 6.77898 5.45563 6.31137 6.01569 6.31137H10.3438L8.80697 3.72345C8.67371 3.49908 8.74294 3.20636 8.96156 3.0696C9.18018 2.9329 9.46543 3.00394 9.59867 3.22825L11.4296 6.31137H12.5705L14.4014 3.22825C14.5346 3.00388 14.8199 2.9328 15.0385 3.0696C15.2571 3.20633 15.3263 3.49908 15.1931 3.72345L13.6562 6.31137ZM14.2657 15.2738C14.5706 15.2738 14.8178 15.0201 14.8178 14.7072V8.60423C14.8178 8.29131 14.5706 8.03761 14.2657 8.03761H7.2001C6.89516 8.03761 6.64798 8.29131 6.64798 8.60423V14.7072C6.64798 15.0201 6.89516 15.2738 7.20007 15.2738H14.2657ZM15.903 13.5429C15.903 14.085 16.3328 14.5261 16.8611 14.5261C17.3894 14.5261 17.8191 14.085 17.8191 13.5429C17.8191 13.0007 17.3894 12.5596 16.8611 12.5596C16.3328 12.5596 15.903 13.0007 15.903 13.5429ZM15.903 9.76853C15.903 10.3107 16.3328 10.7518 16.8611 10.7518C17.3894 10.7518 17.8191 10.3107 17.8191 9.76853C17.8191 9.22636 17.3894 8.78531 16.8611 8.78531C16.3328 8.78531 15.903 9.22636 15.903 9.76853Z" fill="#FF6677"/>
                </svg>
                <svg  id="circle-1" class="how__img" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="56.5513" cy="56.5513" r="54.5513" stroke="#E73E51" stroke-width="4"/>
                </svg>
                <svg  id="circle-2" class="how__img" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="56.5513" cy="56.5513" r="54.5513" stroke="#E73E51" stroke-width="4"/>
                </svg>
                <svg  id="circle-3" class="how__img" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="56.5513" cy="56.5513" r="54.5513" stroke="#E73E51" stroke-width="4"/>
                </svg>
                <svg class="how__img" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="56.5513" cy="56.5513" r="54.5513" stroke="#E73E51" stroke-width="4"/>
                </svg>
                <div class="how__load-line-wrapper">
                    <div class="how__load-line-block">
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                    </div>
                    <div class="how__load-line-block">
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                    </div>
                </div>
            </div>
            <h6 class="how__circle-block-title">Моніторинг</h6>
            <ul class="how__list">
                <li class="how__list-item">Інтернет</li>
                <li class="how__list-item">Телебачення</li>
                <li class="how__list-item">Преса</li>
                <li class="how__list-item">Радіо</li>
                <li class="how__list-item">Соцмережі</li>
            </ul>
        </div>
        <div class="how__info-block col-4-1">
            <div class="how__img-wrapper">
                <svg class="how__img" id="rotate-line" width="22" height="46" viewBox="0 0 22 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.48625 0.583997H0.110248L15.9502 45.8H21.3262L5.48625 0.583997Z" fill="#D3CFE6"/>
                </svg>
                <svg class="how__img" width="106" height="59" viewBox="0 0 106 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.248 23.008L8.688 29.2L25.248 35.392V40.384L3.12 31.792V26.608L25.248 18.016V23.008Z" fill="#E73E51"/>
                    <path d="M80.752 23.008L97.312 29.2L80.752 35.392V40.384L102.88 31.792V26.608L80.752 18.016V23.008Z" fill="#E73E51"/>
                </svg>
                <div class="how__load-line-wrapper">
                    <div class="how__load-line-block how__load-line-block_color">
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                    </div>
                    <div class="how__load-line-block how__load-line-block_color">
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                        <div class="how__load-line-rect"></div>
                    </div>
                </div>
            </div>
            <h6 class="how__circle-block-title">Кодування</h6>
            <ul class="how__unordered-list">
                <li class="how__list-item">Тональність</li>
                <li class="how__list-item">Роль</li>
                <li class="how__list-item">Рубрикація</li>
            </ul>
        </div>
        <div class="how__info-block col-4-1">
            <div class="how__img-wrapper">
                <svg class="how__img" width="93" height="69" viewBox="0 0 93 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect id="col-1" x="21" y="2" width="7" height="67" fill="#E73E51"/>
                    <rect id="col-2" x="38" y="2" width="7" height="67" fill="#E73E51"/>
                    <rect id="col-3" x="55" y="2" width="7" height="67" fill="#E73E51"/>
                    <rect id="col-4" x="72" y="2" width="7" height="67" fill="#E73E51"/>
                    <path id="curve-1" d="M1.5 59.5L46 32.5L65.5 45L91.5 21" stroke="#D3CFE6" stroke-width="2"/>
                    <path id="curve-2" d="M2 50L46 2L68 14L92 2" stroke="#D3CFE6" stroke-width="2"/>
                </svg>
                <div class="how__load-line-wrapper">
                    <div class="how__load-line-block how__load-line-block_color">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                    </div>
                    <div class="how__load-line-block how__load-line-block_color">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                        <img src="./img/svg/q_history_p.svg" alt="" class="how__load-line-q">
                    </div>
                </div>
            </div>
            <h6 class="how__circle-block-title">Аналіз</h6>
            <ul class="how__unordered-list">
                <li class="how__list-item">Кількісні показники</li>
                <li class="how__list-item">Якісні показники</li>
            </ul>
        </div>
        <div class="how__info-block col-4-1">
            <div class="how__img-wrapper">
                <svg class="how__img" width="46" height="57" viewBox="0 0 46 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3996 51.2998C16.3996 51.2998 17.1996 50.4998 17.1996 49.4998V47.5998C17.1996 46.5998 16.3996 45.7998 15.3996 45.7998C14.3996 45.7998 13.5996 46.5998 13.5996 47.5998V49.4998C13.5996 50.5998 14.3996 51.2998 15.3996 51.2998Z" fill="#D3CFE6"/>
                    <path d="M30.5988 51.2998C31.5988 51.2998 32.3988 50.4998 32.3988 49.4998V47.5998C32.3988 46.5998 31.5988 45.7998 30.5988 45.7998C29.5988 45.7998 28.7988 46.5998 28.7988 47.5998V49.4998C28.7988 50.5998 29.5988 51.2998 30.5988 51.2998Z" fill="#D3CFE6"/>
                    <path d="M22.9992 19.5996C21.9992 19.5996 21.1992 20.3996 21.1992 21.3996V23.2996C21.1992 24.2996 21.9992 25.0996 22.9992 25.0996C23.9992 25.0996 24.7992 24.2996 24.7992 23.2996V21.3996C24.7992 20.3996 23.9992 19.5996 22.9992 19.5996Z" fill="#D3CFE6"/>
                    <path d="M45.5 54.5004C45.2 53.9004 44.6 53.4004 43.9 53.4004H40V43.7004H40.1H40.2C40.3 43.7004 40.4 43.7004 40.5 43.7004C40.6 43.7004 40.7 43.6004 40.9 43.6004C41.1 43.5004 41.3 43.3004 41.5 43.1004C41.8 42.7004 42 42.2004 41.9 41.7004L34.8 2.90039C34.6 1.80039 33.6 0.900391 32.4 0.900391H13.7C12.5 0.900391 11.5 1.70039 11.3 2.90039L4.2 41.7004C4.1 42.2004 4.2 42.7004 4.6 43.1004C4.8 43.3004 5 43.5004 5.2 43.6004C5.3 43.7004 5.4 43.7004 5.6 43.7004C5.7 43.7004 5.8 43.7004 5.9 43.7004H6H6.1V53.4004H2.2C1.5 53.4004 0.8 53.8004 0.6 54.5004C0.5 54.7004 0.5 54.9004 0.5 55.2004C0.5 55.4004 0.5 55.7004 0.6 55.9004C0.9 56.5004 1.5 57.0004 2.2 57.0004H43.9C44.6 57.0004 45.3 56.6004 45.5 55.9004C45.6 55.7004 45.6 55.5004 45.6 55.2004C45.6 55.0004 45.6 54.8004 45.5 54.5004ZM36.4 53.5004H24.8V47.7004C24.8 46.7004 24 45.9004 23 45.9004C22 45.9004 21.2 46.7004 21.2 47.7004V53.5004H9.6V43.8004H36.4V53.5004ZM8.1 40.3004L14.7 4.50039H31.5L38.1 40.3004H8.1Z" fill="#E73E51"/>
                </svg>
                <svg class="how__img" id="mill" width="93" height="92" viewBox="0 0 93 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M91.5 72.4L62 43.1C61.7 42.8 61.2 42.6 60.7 42.6C60.2 42.6 59.8 42.8 59.4 43.1L55.4 47.1L52.6 49.8L48.4 45.6L53.8 40.2L83.4 11C84.1 10.3 84.1 9.2 83.4 8.5L75.4 0.5C75.1 0.2 74.6 0 74.1 0C73.6 0 73.2 0.2 72.8 0.5L43.4 29.8C43.1 30.1 42.9 30.6 42.9 31C42.9 31.5 43.1 31.9 43.4 32.2L47.4 36.2L50.2 38.9L46 43.2L40.6 37.8L11.1 8.5C10.4 7.8 9.3 7.8 8.6 8.5L0.6 16.5C0.2 16.8 0 17.3 0 17.7C0 18.2 0.2 18.6 0.5 18.9L30 48.3C30.3 48.6 30.8 48.8 31.3 48.8C31.8 48.8 32.2 48.6 32.6 48.3L39.4 41.6L43.6 45.8L38 51.1L8.6 80.4C7.9 81.1 7.9 82.2 8.6 82.9L16.6 90.9C16.9 91.2 17.4 91.4 17.9 91.4C18.4 91.4 18.8 91.2 19.2 90.9L48.7 61.6C49 61.3 49.2 60.8 49.2 60.4C49.2 59.9 49 59.5 48.7 59.2L41.9 52.5L46.1 48.3L81 83C81.3 83.3 81.8 83.5 82.3 83.5C82.8 83.5 83.2 83.3 83.6 83L91.6 75C91.9 74.7 92.1 74.2 92.1 73.8C92 73.2 91.8 72.8 91.5 72.4ZM48.7 32.6L47.2 31.1L74.2 4.3L79.7 9.8L52.7 36.6L51.2 35.1L63.3 23C64 22.3 64 21.2 63.3 20.5C62.6 19.8 61.5 19.8 60.8 20.5L48.7 32.6ZM35.3 40.6L23.1 28.5C22.4 27.8 21.3 27.8 20.6 28.5C19.9 29.2 19.9 30.3 20.6 31L32.8 43L31.3 44.5L4.3 17.7L9.8 12.2L36.8 39L35.3 40.6ZM43.3 58.9L44.8 60.4L17.8 87.2L12.3 81.7L39.3 54.9L40.8 56.4L28.7 68.4C28 69.1 28 70.2 28.7 70.9C29 71.2 29.5 71.4 30 71.4C30.5 71.4 30.9 71.2 31.3 70.9L43.3 58.9ZM82.2 79.2L55.2 52.4L56.7 50.9L68.8 63C69.1 63.3 69.6 63.5 70.1 63.5C70.6 63.5 71 63.3 71.4 63C72.1 62.3 72.1 61.2 71.4 60.5L59.2 48.4L60.7 46.9L87.7 73.7L82.2 79.2Z" fill="#E73E51"/>
                </svg>
            </div>
            <h6 class="how__circle-block-title">Інсайти</h6>
        </div>
    </div>
</section>