<section class="pr-test" data-anchor="pr-test">
    <h2 class="pr-test__title section-title offset-6-1">PR-проба</h2>
    <div class="col-6-3 offset-6-2 col-md-6-3 offset-md-6-1 pr-test__wrapper">
        <div class="pr-test__animated-input-text_wrapper">
            <h4 class="pr-test__subtitle">Дізнайтеся свою статистику згадувань у медіа</h4>
            <div class="typed-cursor typed-cursor--blink"></div>
            <h1 class="pr-test__animated-input-text"></h1>
            <p class="pr-test__help">Введіть запит</p>
        </div>
        <form action="POST" class="pr-test__form">
            <input type="text" class="pr-test__input">
            <button class="pr-test__pr-button button"><b>Отримати</b></button>
            <ul class="pr-test__list">
                <li class="pr-test__list-item">Динаміку згадувань</li>
                <li class="pr-test__list-item">Типи ЗМІ</li>
                <li class="pr-test__list-item">Рівні видань</li>
            </ul>
        </form>
    </div>
</section>