<section class="services-section" data-anchor="services">
    <h2 class="services-section__title section-title offset-6-1">Пакети послуг</h2>
    <div class="services-section__blocks js-md-slider offset-6-1 col-6-4">
        <div class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Sample</h5>
                <p class="services-section__descr">Моніторинг медіа та перші кроки у дослідженні PR</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>5 500</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-11 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="/prices.html#price-b-1">Детальніше</a>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title services-section__block-title_with-crown">PR Master</h5>
                <p class="services-section__descr ">Моніторинг та аналіз  медіаполя для бізнесу</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>9 900</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-20 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="/prices.html#price-b-2">Детальніше</a>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Professional</h5>
                <p class="services-section__descr ">Розширене дослідження  PR всього ринку  для компаній та агентств</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>29 700</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-60 000 грн</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="/prices.html#price-b-3">Детальніше</a>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
        <div class="services-section__block col-4-1">
            <div class="services-section__block-wrapper">
                <h5 class="services-section__block-title">PR Legendary</h5>
                <p class="services-section__descr ">Індивідуальне стратегічне рішення для вимірювання та аналізу PR великого бізнесу</p>
            </div>
            <div class="services-section__block-wrapper">
                <div class="services-section__block-price">
                    <h3>XXX</h3>
                    <p>грн / міс</p>
                </div>
                <div class="services-section__block-discount">
                    <h4>-17%</h4>
                    <p>при оплаті за рік</p>
                </div>
                <div class="services-section__block-details">
                    <a href="/prices.html#price-b-4">Детальніше</a>
                </div>
                <a href="#" class="services-section__block-button button_red-border">c<b>PR</b>обувати</a>
            </div>
        </div>
    </div>
</section>