<section class="try-now" data-anchor="try-now">
    <h2 class="try-now__title section-title offset-6-1">сPRобуйте зараз</h2>
    <h3 class="try-now__main-title offset-6-2 offset-md-6-1">7 днів <span>безкоштовного</span> доступу</h3>
    <div class="try-now__row">
        <div class="col-6-1 offset-6-2 col-md-6-2 offset-md-6-1 try-now__left-block">
            <form action="post" class="try-now__form">
                <input class="try-now__form-input" type="text" name="firstname" placeholder="ім’я">
                <input class="try-now__form-input" type="text" name="lastname" placeholder="прізвище">
                <input class="try-now__form-input" type="phone" name="phone" placeholder="телефон">
                <input class="try-now__form-input" type="email" name="email" placeholder="E-mail">
                <button class="try-now__form-button button" type="submit">Замовити</button>
            </form>
        </div>
        <div class="col-6-1 col-md-6-2 try-now__right-block">
            <div class="try-now__block">
                <h6 class="try-now__block-title">Аналітика</h6>
                <p class="try-now__text">Побудуйте кілька графіків для вашого аналізу</p>
            </div>
            <div class="try-now__block">
                <h6 class="try-now__block-title">Алерти</h6>
                <p class="try-now__text">Налаштуйте сповіщення з потрібної вам теми</p>
            </div>
            <div class="try-now__block">
                <h6 class="try-now__block-title">Стрічка новин</h6>
                <p class="try-now__text">Стрічка новин, налаштування, фільтри</p>
            </div>
            <div class="try-now__block">
                <h6 class="try-now__block-title">Прямий пошук</h6>
                <p class="try-now__text">Доступ до пошуку необхідниї тем у нашій базі даних</p>
            </div>
        </div>
    </div>
</section>