<div class="blog__content col-6-2 offset-6-2 col-md-6-4 offset-md-6-1">
    <div class="blog__content-social-links">
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-1.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-2.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-3.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-4.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-5.svg" alt=""></a>
    </div>
    <div class="blog__content-text">
        <i>Дмитро Артемчук, Head of Research в LOOQME, в рамках власної рубрики #мракобєсіє ділиться своїм експертним поглядом на візуалізацію даних.</i>
        Оскільки дані не мають своєї природної форми, їх можна по-різному відображати. Єдиного вірного формату не існує. Одна візуалізація буде більш релевантною, інша - дещо менше. Проте існує проблема спаплюження інформації у випадку її некоректного відображення. Це може бути з двох причин:
        <ul>
            <li>свідома маніпуляція даними;</li>
            <li>помилковість через брак знань.</li>
        </ul>
        Хибну візуалізацію можна розподілити на групи за декількома проблемами. Розглянемо кожну з них.
        <h6>Побудова не від “0”.</h6>
        Журнал Time свого часу опублікував інфографіку, де порівнював марки автомобілів, що були продані за останні 10 років та досі на ходу. Очевидно, тут демонстрували перевагу в надійності Chevrolet.
        <img src="./img/blog-i-1.jpg" alt="">
        <h6>Проте якби графік був побудований від нуля, то різниця між об’єктами сприймалася б інакше. Стовпчики на графіку виглядали б майже рівними. Подивіться самі.</h6>
        <img src="./img/blog-i-2.jpg" alt="">
    </div>
    <div class="blog__content-social-links">
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-1.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-2.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-3.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-4.svg" alt=""></a>
        <a href="#" class="blog__content-social-link"><img src="./img/svg/bs-5.svg" alt=""></a>
    </div>
</div>