<div class="blog__left-side col-6-1 offset-6-1 col-md-6-4">
    <a href="/blogs.html" class="blog__go-back-button">назад</a>
    <h4 class="section-title section-title_thin">Чому погана аналітика гірша за її відсутність</h4>
    <div class="blog__card-wrapper">
        <p class="blog__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
        <p class="blog__card-position">Head of Research в LOOQME</p>
    </div>
</div>