@media (min-width: $max-sm + 1px) {
  .services__left-side .services__left-side-subtitle,
  .services__text,
  .services__title-2 {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    transition-delay: .4s;
  }

  .services__left-side .section-title,
  .services__left-side .services__left-side-subtitle {
    .loaded & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .services__text,
  .services__title-2 {
    .fp-section.active & {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .services__left-side .button {
    .loaded & {
      opacity: 1;
      transform: scale(1);
    }
  }
}
