body.services {
  @media (max-width: $max-sm) {
    padding-bottom: 100px;
  }

  p {
    line-height: 2;

    b {
      font-weight: bold;
      line-height: 1.55;
    }
  }
}

.services__section {
  @extend %section-responsive;
}

.services__section > div {
  padding-top: 60px;

  @media (min-width: $max-sm + 1px) {
    padding-top: 145px;
    height: calc(100% - 145px - 75px);
  }
}

.services__left-side {
  @media (min-width: $max-sm + 1px) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding-bottom: 80px;
    height: calc(100% - 80px);
  }

  @media (max-width: $max-sm) {
    padding-left: 15px;
  }
}

.services__left-side-button {
  margin-left: 0;
  margin-right: auto;

  @media (max-width: $max-md) {
    display: none;
  }
}

.services__left-side-digest {
  position: relative;
  font-size: 1.313rem;
  color: $purple;
  text-decoration: none;
  padding-right: 35px;
  align-self: flex-start;
  margin: auto 0 0;


  @media (max-width: $max-md) {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    background: url(../img/svg/d-btn_purple.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.services__left-side-subtitle {
  float: left;
  padding: 10px 0;
  margin-top: 9px;
  margin-bottom: auto;
  color: #191333;
  font-weight: bold;

  strong  {
    display: inline;
    background: #E73E51;
    box-shadow: 8px 0 0 #E73E51;
    padding: 2px;
    line-height: 1.3;
  }

  @media(max-width: $max-md) {
    display: none;
  }
}

.services__list {
  position: relative;

  h5 + & {
    padding-top: 5px;
  }
}

.services__list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  line-height: 1.6;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 12px;
    height: 12px;
    background: url(../img/svg/q_history_p.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.services__wrapper {
  @media (min-width: $max-sm + 1px) {
    display: flex;
    height: 100%;

    .col-4-2 {
      display: inline-flex;
      flex-direction: column;
    }
  }
}

.smart-alert__title {
  font-weight: 600;
  line-height: 1.1;
  padding-bottom: 25px;

  span {
    color: $purple;
    display: block;
  }
}

.services__block-title {
  font-weight: normal;
  padding-bottom: 25px;

  &_smaller {
    padding: 20px 0;
    font-weight: bold;

    @media (min-width: $max-sm + 1px) {
      margin: auto 0 0;
    }

    @media (max-width: $max-sm) {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }
}

.services__circle-block-count {
  position: relative;
  font-size: 1.125rem;
  color: $white;
  height: 210px;
  line-height: 210px;
  margin-bottom: 60px;
}

.services__circle {
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: visible;
  pointer-events: none;
  transform: translate(-50%, -50%);


  &:before {
    content: '';
    position: absolute;
    left: -101px;
    top: -101px;
    pointer-events: none;
    width: 203px;
    height: 203px;
    background: url(../img/svg/lines-circle.svg) no-repeat;
    background-size: cover;
    background-position: center center;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include keyframes(servRotate) {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }

    @include animation(servRotate 5s linear);
    animation-iteration-count: infinite;
  }
}

.services__stage {
  position: relative;
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 30px;

  &:after {
    content: '';
    position: absolute;
    left: 14px;
    bottom: 6px;
    width: 9px;
    height: 16px;
    background: url(../img/svg/list_arrow.svg);
    background-size: 100% 100%;
  }

  &:last-child:after {
    content: none;
  }

  span {
    font-weight: 300;
    font-size: 0.75rem;
  }
}

.services__text {
  padding-right: 15px;
}

.services__blockquote {
  display: inline-flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background: #261D4D;
  padding: 10px 0;
  margin-top: 25px;
  text-align: left;

  @media (min-width: $max-sm + 1px) {
    min-height: 228px;
    margin-top: 0;
    text-align: center;
  }

  @media (min-width: $max-sm + 1px) and (max-width: $max-md) {
    margin-left: 10%;
    width: 40% !important;
  }

  >* {
    padding: 0 10px;
  }
}