<section class="services__section alert" alt="ALERT">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper alert__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services__block-title_purple alert__title">Випереджайте інших</h4>
                <p class="services__text"><b>Алерти</b> (оперативні сповіщення) приходять на пошту або в Telegram через 5-10 хвилин після появи згадування. <br>Швидко відстежуйте інформацію та отримуйте додатковий час на реакцію, що важливо для кризових ситуацій та ризикових тем.</p>
                <h6 class="services__block-title services__block-title_smaller">Відстежуйте згадування про:</h6>
                <ul class="services__list">
                    <li class="services__list-item">компанію</li>
                    <li class="services__list-item">персоналії</li>
                    <li class="services__list-item">окремі інфоприводи</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text"><b>КЕРУЙТЕ</b> репутаційними <b>РИЗИКАМИ</b> у режимі реального часу.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section smart-alert" alt="Smart ALERT">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper alert__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services__block-title_purple alert__title">Будьте швидшими</h4>
                <p class="services__text"><b>Smart ALERTs</b> володіють всіма характеристиками та функціоналом звичайних алертів, проте додатково проходять фільтрацію нашими аналітиками. Витрачайте час на максимально відповідну запитам інформацію.</p>
                <h6 class="services__block-title services__block-title_smaller">Отримуйте згадування з:</h6>
                <ul class="services__list">
                    <li class="services__list-item">обраних видань</li>
                    <li class="services__list-item">джерел певного регіону</li>
                    <li class="services__list-item">видань ТОП-100</li>
                    <li class="services__list-item">обраних типів ЗМІ</li>
                    <li class="services__list-item">обраних соцмереж та сторінок</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Отримуйте найбільш <b>ТОЧНУ</b> інформацію  у режимі <b>24/7</b>.</p>
            </div>
        </div>
    </div>
</section>