<div>
    <h2 class="services__title section-title">Послуги</h2>
    <h5 class="services__left-side-subtitle"><strong>Моніторинг</strong></h5>
</div>
<a href="#" class="services__left-side-digest monitoring__button">Приклад</a>
<a href="#" class="services__left-side-button button">Замовити</a>

