<section class="services__section monitoring" alt="Моніторинг">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services__title">Швидко збирайте інформацію</h4>
                <p class="services__text">Система <b>моніторингу</b> щохвилини збирає сотні повідомлень. Отримуйте необхідну інформацію за допомогою чітких і точних пошукових запитів. Одразу працюйте із тональністю, роллю та тематикою для кожного згадування.</p>
                <h6 class="services__block-title services__block-title_smaller">Відстежуйте всі типи ЗМІ:</h6>
                <ul class="services__list">
                    <li class="services__list-item">ТБ</li>
                    <li class="services__list-item">радіо</li>
                    <li class="services__list-item">друковану пресу</li>
                    <li class="services__list-item">інтернет-видання</li>
                    <li class="services__list-item">інформаційні агентства</li>
                    <li class="services__list-item">соціальні мережі</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Економте час на <b>АНАЛІЗІ</b> та <b>ФІЛЬТРАЦІЇ</b> інформації.</p>
            </div>
        </div>
    </div>
</section>
<section class="services__section monitoring" alt="Моніторинг">
    <div class="col-6-4 offset-6-2 col-md-6-5 offset-md-6-1">
        <div class="services__wrapper">
            <div class="col-4-2">
                <h4 class="services__block-title services__title">Отримуйте інформацію автоматично</h4>
                <p class="services__text"><b>Email-розсилка звітів</b> за результатами моніторингу дозволяє отримувати інформацію автоматично у необхідний час та необмеженій кількості. Налаштовуйте звіти за типами ЗМІ, тегами, тональністю, джерелами та комбінуйте різні об'єкти.</p>
                <h6 class="services__block-title services__block-title_smaller">Обирайте:</h6>
                <ul class="services__list">
                    <li class="services__list-item">об'єкти моніторингу;</li>
                    <li class="services__list-item">налаштовані фільтри;</li>
                    <li class="services__list-item">формати звіту; </li>
                    <li class="services__list-item">періодичність надходження;</li>
                    <li class="services__list-item">необмежену кількість адресатів</li>
                </ul>
            </div>
            <div class="col-4-1 services__blockquote">
                <p class="services__text">Створюйте <b>ЗВІТИ</b> залежно від <b>ЗАВДАНЬ</b>. Додатково використовуйте аналітичні <b>ДАЙДЖЕСТИ</b> для швидкого дослідження певної теми на ринку.</p>
            </div>
        </div>
    </div>
</section>