.about-pocket {
  display: flex;
  flex-direction: column;

  @extend %section-responsive;
}

.about-pocket__wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;

  @media (max-width: $max-sm) {
    margin-top: 30px;
  }
}