.faq {
  padding-bottom: 60px;
  @extend %section-responsive;

  @media (min-width: $max-sm + 1px) {
    display: flex;
    flex-direction: column;
  }
}

.faq__wrapper {
  position: relative;
  padding-top: 55px;

  @media (max-width: $max-sm) {
    padding-top: 20px;
  }
}

.tab-pane__nav {
  display: inline-block;

  .slick {
    &-arrow {
      position: absolute;
      left: 0;
      bottom: -30px;
      z-index: 100;
    }

    &-next {
      left: 40px;
    }
  }
}

.tab-pane__content {
  @media (min-width: $max-sm + 1px) {
    position: absolute;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.tab-pane__nav-item {
  padding: 10px 0;
  max-width: 430px;
  transition: opacity .4s ease;

  @media (max-width: $max-sm) {
    display: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    &.activeLink {
      display: block;
      padding: 10px 0;
      max-height: none;
    }

    &.visible {
      display: block;
      padding: 10px 0;
      max-height: none;
    }
  }

  .fp-section.active &.slick-slide {
    opacity: 0;
    pointer-events: none;
  }

  .fp-section.active &.slick-active {
    opacity: 1;
    pointer-events: auto;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.tab-pane__link {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2;
  padding-left: 40px;

  &.active {
    color: $purple;
  }

  &:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 16px;
    transform: translateY(-50%);
    background: url(../img/svg/tab_icon.svg) no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
  }
}

.tab-pane__tab {
  transition: all .5s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  line-height: 2;
  font-weight: normal;

  p+ul {
    padding-top: 35px;
  }

  &.active {
    opacity: 1;
    max-height: none;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}