.prices-section {
  .prices-section__title {
    position: relative;
    top: 0;
  }

  .services-section__blocks {
    transition: all .85s ease-in-out;
  }

  &.open-service {

    @media (min-width: $max-md + 1px) {
      .prices-section__title {
        margin-top: -50px;
        opacity: 0 !important;
        pointer-events: none;
      }

      .services-section__blocks {
        flex-grow: 1;
      }
    }

  }
}

.services-section__block {

  .prices-section.open-service & {
    align-self: center;
  }

  .prices-section.open-service &.services-section__block_active {
    align-self: auto;
    padding-bottom: 50px;
  }
}

.services-section__block-details_content {
  span {
    color: $purple;
  }

  img {
    margin-right: 4px;
  }

  .services-section__block-details_violet-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #403080;
    padding-left: 15px;
    padding-right: 30px;

    span {
      display: inline-block;
      vertical-align: baseline;
    }

    .count-messages {
      float: right;
      color: $gray;
      text-align: center;

      b {
        color: $purple;
        display: block;
      }
    }
  }
}