@media (min-width: $max-sm + 1px) {
  .services__block-title,
  .services__list,
  .tab-pane__nav-item,
  .tab-pane__content {
    opacity: 0;
    transition: -webkit-transform .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1);
    transition: all .6s cubic-bezier(.4,0,0,1), all .6s cubic-bezier(.4,0,0,1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: .6s;

    .fp-section.active & {
      opacity: 1;
    }
  }

  .services__list {
    transition-delay: .8s;
  }

  .tab-pane__nav-item {
    &:nth-child(2n) {
      transition-delay: .8s;
    }

    &:nth-child(3n) {
      transition-delay: 1s;
    }
  }

  .tab-pane__content {
    transition-delay: 1s;

    .fp-section.active & {
      opacity: 1;
    }
  }
}
