<div class="pop-up pop-up_with-video" id="pop-up-video">
    <div class="pop-up__content">
        <div class="pop-up__body">
            <a href="#" class="pop-up__close">
                <span></span>
                <span></span>
            </a>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/rJosNFsgB-8?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="pop-up pop-up_try" id="pop-up-try">
    <div class="pop-up__content">
        <div class="pop-up__body">
            <a href="#" class="pop-up__close">
                <span></span>
                <span></span>
            </a>
            <form action="POST" class="pop-up__form">
                <input type="text" class="pop-up__input" placeholder="Прізвище та імя">
                <input type="text" class="pop-up__input" placeholder="Назва компанії">
                <input type="email" class="pop-up__input" placeholder="E-mail">
                <input type="tel" class="pop-up__input" placeholder="Телефон">
                <button class="button pop-up__button" placeholder="submit"><b>Реєстрація</b></button>
            </form>
        </div>
    </div>
</div>
<div class="pop-up" id="pop-up-vacancy">
    <div class="pop-up__content">
        <div class="pop-up__body">
            <a href="#" class="pop-up__close">
                <span></span>
                <span></span>
            </a>
            <form action="POST" class="pop-up__form">
                <h4 class="pop-up__title"><span>Відгукнутися</span> на вакансію:</h4>
                <div class="pop-up__form-row">
                    <div>
                        <input type="text" class="pop-up__input" placeholder="Прізвище та імя*">
                        <input type="email" class="pop-up__input" placeholder="E-mail*">
                        <input type="tel" class="pop-up__input" placeholder="Телефон*">
                    </div>
                    <div class="pop-up__file-input">
                        <h6>Додати резюме</h6>
                        <p class="pop-up__text">.pdf  .doc</p>
                        <input class="pop-up__input" type="file">
                    </div>
                </div>
                <textarea name="text" class="pop-up__textarea" placeholder="Супровідний лист"></textarea>
                <button class="button pop-up__button" placeholder="submit">Відправити</button>
            </form>
        </div>
    </div>
</div>
<div class="pop-up pop-up_slider" id="pop-up-analytic">
    <div class="pop-up__content">
        <div class="pop-up__body">
            <a href="#" class="pop-up__close">
                <span></span>
                <span></span>
            </a>
            <div class="pop-up__slider-wrapper js-pop-up-slider">
                <img src="./img/pop-up-s-1.jpg" alt="">
                <img src="./img/pop-up-s-2.jpg" alt="">
                <img src="./img/pop-up-s-3.jpg" alt="">
                <div>
                    <div class="pop-up__slider-form">
                        <form class="pop-up__form">
                            <h5>Щоб отримати <span>повну версію документу</span> залиште свою електронну пошту</h5>
                            <input type="email" class="pop-up__input" placeholder="E-mail">
                            <button class="button pop-up__button" placeholder="submit">Відправити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-invisible">
    <div class="names">Ілон Маск, Amazon, TED</div>
</div>
<script src="./js/vendor/jquery.min.js"></script>
<script src="./js/vendor/typed.min.js"></script>
<script src="./js/vendor/slick.min.js"></script>
<script src="./js/vendor/three.js"></script>
<script src="./js/vendor/dat.gui.min.js"></script>
<script src="./js/vendor/Detector.js"></script>
<script src="./js/vendor/stats.min.js"></script>
<script src="./js/vendor/TweenLite.min.js"></script>
<script src="./js/vendor/scrolloverflow.min.js"></script>
<script src="./js/vendor/easings.min.js"></script>
<script src="./js/vendor/fullpage.min.js"></script>
<script src="./js/vendor/jquery.pressure.min.js"></script>
<script src="./js/main.min-min.js"></script>
<script id="vs" type="x-shader/x-vertex">
    uniform sampler2D map;

    uniform float width;
    uniform float height;
    uniform float nearClipping, farClipping;

    uniform float pointSize;
    uniform float zOffset;
    varying vec2 vUv;

    const float XtoZ = 1.11146; // tan( 1.0144686 / 2.0 ) * 2.0;
    const float YtoZ = 0.83359; // tan( 0.7898090 / 2.0 ) * 2.0;

    void main() {
        vUv = vec2( position.x / width, position.y / height );
        vec4 color = texture2D( map, vUv );
        float depth = ( color.r + color.g + color.b ) / 3.0;
        // Projection code by @kcmic
        float z = ( 1.0 - depth ) * (farClipping - nearClipping) + nearClipping;
        vec4 pos = vec4(
            ( position.x / width - 0.5 ) * z * XtoZ,
            ( position.y / height - 0.5 ) * z * YtoZ,
            - z + zOffset,
            1.0);
        gl_PointSize = pointSize;
        gl_Position = projectionMatrix * modelViewMatrix * pos;
    }
</script>
<script id="fs" type="x-shader/x-fragment">
    uniform sampler2D map;
    varying vec2 vUv;
    void main() {
        vec4 color = texture2D( map, vUv );
        gl_FragColor = vec4( color.r, color.g, color.b, 0.2 );
    }
</script>
<script src="./js/kinect.js"></script>