<a href="mailto:sales@looqme.io" class="left-info__mail">sales@looqme.io</a>
<div class="left-info__social-links">
    <a href="https://www.facebook.com/Looqme/" target="_blank" class="left-info__link"><img src="./img/svg/facebook.svg" alt=""></a>
    <a href="https://twitter.com/looqmes" target="_blank" class="left-info__link"><img src="./img/svg/twitter.svg" alt=""></a>
    <a href="https://www.linkedin.com/company/looqme/" target="_blank" class="left-info__link"><img src="./img/svg/linkedin.svg" alt=""></a>
    <a href="https://www.youtube.com/channel/UCheqYNWCZaagEZoHuQu6Qrw" target="_blank" class="left-info__link"><img src="./img/svg/googleplus.svg" alt=""></a>
</div>
<div class="address">
    04050, Київ,<br>
    вул. Глибочицька, 44Б
</div>