<header class="header">
    <buttton class="c-nav-button" id="burger">
        <span></span>
        <span></span>
        <span></span>
    </buttton>
    <a href="/" class="logo">
        <img src="./img/svg/logo.svg" class="logo__on-closed" alt="">
        <img src="./img/svg/logo_b.svg" class="logo__on-open" alt="">
    </a>
    <div class="header__button-block">
        <a href="#" class="header__button-block-login">Вхід</a>
        <a href="#" class="header__button-block-try button_try">c<span>PR</span>обувати</a>
    </div>
</header>
