<nav class="c-nav">
    <div class="c-nav__background">
        <div class="c-nav__background-column"></div>
        <div class="c-nav__background-column"></div>
        <div class="c-nav__background-column"></div>
        <div class="c-nav__background-column"></div>
        <div class="c-nav__background-column"></div>
        <div class="c-nav__background-column"></div>
    </div>
    <div class="c-nav__content">
        <div class="c-nav__wrapper">
            <ul class="c-nav__menu">
                <li class="c-nav__menu-list-item"><a href="/" class="c-nav__menu-link c-nav__menu-link_active"><span class="c-nav__menu-list-num">.01</span><span class="c-nav__menu-list-text">Головна</span></a></li>
                <li class="c-nav__menu-list-item"><a href="/about.html" class="c-nav__menu-link"><span class="c-nav__menu-list-num">.02</span><span class="c-nav__menu-list-text">PRо нас</span></a></li>
                <li class="c-nav__menu-list-item"><a href="/services.html" class="c-nav__menu-link"><span class="c-nav__menu-list-num">.03</span><span class="c-nav__menu-list-text">Послуги</span></a></li>
                <li class="c-nav__menu-list-item"><a href="/analytic.html" class="c-nav__menu-link"><span class="c-nav__menu-list-num">.04</span><span class="c-nav__menu-list-text">Аналітика</span></a></li>
                <li class="c-nav__menu-list-item"><a href="/prices.html" class="c-nav__menu-link"><span class="c-nav__menu-list-num">.05</span><span class="c-nav__menu-list-text">Ціни</span></a></li>
                <li class="c-nav__menu-list-item"><a href="/blogs.html" class="c-nav__menu-link"><span class="c-nav__menu-list-num">.06</span><span class="c-nav__menu-list-text">Блог</span></a></li>
            </ul>
            <div class="c-nav__phones">
                <h6 class="c-nav__phones-title">Зателефонуйте нам:</h6>
                <a href="tel:+380443840361" class="c-nav__phones-link">+38 044 384 03 61</a>
                <a href="tel:+380955396059" class="c-nav__phones-link">+38 095 539 60 59</a>
                <a href="tel:+380675825880" class="c-nav__phones-link">+38 067 582 58 80</a>
                <a href="tel:+380732691542" class="c-nav__phones-link">+38 073 269 15 42</a>
            </div>
        </div>
        <form action="post" class="c-nav__form">
            <input type="text" placeholder="E-MAIL" class="c-nav__input col-6-1 offset-6-2 col-md-6-2 offset-md-6-1">
            <button type="submit" class="c-nav__submit-b">Підписатись</button>
        </form>
        <ul class="c-nav__langs">
            <li class="c-nav__langs-list-item"><a href="#" class="c-nav__langs-link c-nav__langs-link_active">Укр</a></li>
            <li class="c-nav__langs-list-item"><a href="#" class="c-nav__langs-link">Eng</a></li>
            <li class="c-nav__langs-list-item"><a href="#" class="c-nav__langs-link">Рус</a></li>
        </ul>
    </div>
</nav>