<div class="vertical-lines">
    <div class="vertical-lines__line"></div>
    <div class="vertical-lines__line"></div>
    <div class="vertical-lines__line"></div>
    <div class="vertical-lines__line"></div>
    <div class="vertical-lines__line"></div>
    <div class="vertical-lines__line"></div>
</div>