.blogs__wrapper {
  display: flex;

  @media (max-width: $max-md) {
    flex-direction: column;
  }
}

.blogs__cards {
  column-count: 3;
  column-gap: 0;

  @media (max-width: $max-md) {
    column-count: 2;
  }

  &.empty-cards {
    position: relative;
    column-count: 1;
  }
}

.blogs__card {
  display: block;
  text-decoration: none;
  padding: 20px 25px 12px;
  -webkit-column-break-inside: avoid;
  border-top: .5px solid rgba(255,255,255,.18);
  border-bottom: .5px solid rgba(255,255,255,.18);
  transform-origin: center center;
  -webkit-transition: all .6s linear;
  transition: all .5s linear;
  background: #4D3999;

  @media (max-width: $max-sm) {
    padding: 10px 15px;
  }

  &.blogs__catch {
    .blogs__card-wrapper {
      text-align: center;

      .blogs__input {
        width: calc(100% - 15px);
        line-height: 34px;
        height: 34px;
        font-size: 0.625rem;
        padding-left: 5px;
      }

      .button {
        font-weight: 600;
        opacity: 1;
        transform: scaleY(1);
        border: 3px solid $gray;
        box-shadow: none;
        margin-bottom: 5px;
        background: transparent;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }

      input + .button {
        margin-top: 20px;
      }
    }
  }

  &:hover {
    transition: .3s cubic-bezier(0,1.5,.5,1);
    filter: brightness(1.2);
  }

  &.color-1 {
    background: #4D3999;
  }

  &.color-2 {
    background: #332666;
  }

  &.color-3 {
    background: #673AB7;
  }

  &.color-4 {
    background: #4D3999;
  }

  &.color-5 {
    background: #403080;
  }

  &.color-6 {
    background: #311B92;
  }

  &.color-7 {
    background: #4527A0;
  }

  &.color-8 {
    background: #512DA8;
  }

  &.color-9 {
    background: #5E35B1;
  }
}

.blogs__card.empty {
  background: transparent;
  border: none;
  pointer-events: none;

  h2 {
    width: 100%;
    font-weight: bold;
    max-width: 550px;
  }

  .empty__img {
    position: absolute;
    z-index: -1;
    bottom: -10%;
    right: 100px;

    @media (max-width: $max-md) {
      position: absolute;
      z-index: -1;
      bottom: -120%;
      right: 100px;
      width: 250px;
    }
  }
}

.blogs__card-title {
  font-weight: bold;
  color: $white;
  line-height: 2;
  padding-bottom: 25px;
}

.blogs__name {
  font-size: 0.625rem;
  font-weight: lighter;
  color: $white;
  text-transform: uppercase;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    vertical-align: middle;
    display: inline;
    margin-right: 4px;
  }
}

.blogs__card-position {
  font-size: 0.75rem;
  font-weight: lighter;
  padding-top: 5px;
}