.blogs {
  main {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }

  .blogs__wrapper {
    width: 100%;
    margin: auto 0;
    padding-top: 20px;

    @media (min-width: $max-md + 1px) {
      padding-top: 70px;
    }
  }

  .blogs__title {
    padding-left: 15px;

    @media (min-width: $max-sm + 1px) {
      padding-left: 0;
    }
  }
}