.blogs__filter-list {
  @media (max-width: $max-md) {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.blogs__filters-list-item {
  padding: 15px 0;

  @media (max-width: $max-md) {
    display: inline-block;
    padding: 10px 5px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.blogs__filters-link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.313rem;

  &.active {
    color: $purple;
    font-weight: 600;
  }
}