<div class="col-6-3 col-md-6-4 offset-md-6-1 blogs__cards">
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність  гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність  гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <div class="blogs__card blogs__catch LOOQSQOOL">
        <p class="blogs__card-title">Знати все про ефективний PR</p>
        <div class="blogs__card-wrapper">
            <form action="#">
                <input class="blogs__input" type="text" placeholder="E-MAIL" class="">
                <button class="button blogs__button" type="submit">Підписатися</button>
            </form>
        </div>
    </div>
    <div class="blogs__card blogs__catch LOOQSQOOL">
        <p class="blogs__card-title">Отримувати інсайти у три кліки</p>
        <div class="blogs__card-wrapper">
                <a class="button blogs__button" href="#">сPRобувати</a>
        </div>
    </div>
    <div class="blogs__card blogs__catch LOOQSQOOL">
        <p class="blogs__card-title">7 днів безкоштовного доступу</p>
        <div class="blogs__card-wrapper">
                <a class="button blogs__button" href="#">Замовити</a>
        </div>
    </div>
    <div class="blogs__card blogs__catch LOOQSQOOL">
        <p class="blogs__card-title">Побачити LOOQME у дії</p>
        <div class="blogs__card-wrapper">
                <a class="button blogs__button" href="#">сPRобувати</a>
        </div>
    </div>
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card LOOQWE">
        <p class="blogs__card-title">Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність  гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність  гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ LOOQView">
        <p class="blogs__card-title">OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <a href="/blog.html" class="blogs__card OutLOOQ LOOQView">
        <p class="blogs__card-title">LOOQView OutLOOQOutLOOQ Чому погана аналітика гірша за її відсутність</p>
        <div class="blogs__card-wrapper">
            <p class="blogs__name"><img src="./img/bloger.jpg" alt="">Дмитро Артемчук</p>
            <p class="blogs__card-position">Head of Research в LOOQME</p>
        </div>
    </a>
    <div class="blogs__card empty">
        <h2>Скоро тут буде, що почитати</h2>
        <img src="./img/svg/q_history_p.svg" alt="" class="empty__img">
    </div>
</div>
