<div class="col-6-1 col-md-6-4 offset-6-1 blogs__filters">
    <ul class="blogs__filter-list">
        <li class="blogs__filters-list-item"><a data-rel="LOOQWE" class="blogs__filters-link active">LOOQWE</a></li>
        <li class="blogs__filters-list-item"><a data-rel="OutLOOQ" class="blogs__filters-link">OutLOOQ</a></li>
        <li class="blogs__filters-list-item"><a data-rel="ClientLOOQ" class="blogs__filters-link">ClientLOOQ</a></li>
        <li class="blogs__filters-list-item"><a data-rel="LOOQSQOOL" class="blogs__filters-link">LOOQSQOOL</a></li>
        <li class="blogs__filters-list-item"><a data-rel="LOOQTV" class="blogs__filters-link">LOOQTV</a></li>
        <li class="blogs__filters-list-item"><a data-rel="ToLOOQ" class="blogs__filters-link">ToLOOQ</a></li>
        <li class="blogs__filters-list-item"><a data-rel="LOOQView" class="blogs__filters-link">LOOQView</a></li>
    </ul>
</div>